<div class="pageTitle p-component">
    <h1>Meeting Administration</h1>
</div>

<app-admintoolbar #adminToolbar 
    [selectedMenuId]="_selectedMenuId" 
    [activeSortCount]="_activeSortCount"
    [activeFiltersCount]="_activeFiltersCount"
    (onAdminMenuClick)="onAdminMenuClick($event)" ></app-admintoolbar>
<form>
    <!-- [lazy] and (onLazyLoad) event is not used as it triggers server call on each page change -->
<p-table  *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST" #tblMeeting [value]="meetingListViewData.value" 
    dataKey="id" [lazy]="false" [(selection)]="selectedRecord"
    [filterDelay]="500" [rows]="rowsPerPage" [totalRecords]="totalRows" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" paginatorPosition="both" selectionMode="single"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" 
    (onRowSelect)="onListRowSelect($event)" (onRowUnselect)="onListRowUnselect($event)"
    (onSort)="onSortChange($event)" (onPage)="onPageChange($event)">

    <ng-template pTemplate="paginatorleft">
        <span class="gridCaption" style="left: 15px;">List of Meeting</span>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" label="more..." title="There could be more records.  Click here to retrieve." (click)="more()" styleClass="p-button-text"></p-button>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <!-- Column headings -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;" pSortableColumn="meeting.mtngId">Meeting ID<p-sortIcon field="meeting.mtngId"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="meeting.clrPh">Caller Phone<p-sortIcon field="meeting.clrPh"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="meeting.rcvrPh">Receiver Phone<p-sortIcon field="meeting.rcvrPh"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="meeting.chnl">Channel ID<p-sortIcon field="meeting.chnl"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="meeting.tkn">Token<p-sortIcon field="meeting.tkn"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="meeting.clStts">Call Status<p-sortIcon field="meeting.clStts"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="meeting.strtTm">Meeting Start Time<p-sortIcon field="meeting.strtTm"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="meeting.endTm">Meeting End Time<p-sortIcon field="meeting.endTm"></p-sortIcon></th>
            <th style="width:100%;">Action</th>
        </tr>

        <tr *ngIf="_filterVisible">
            <!-- Column filters -->
            <!-- width:100%; makes all the columns equal width -->
            <th>
                <input #filterElements id="filtermtngId" inputId="filtermtngId" style="width: 100%;" pInputText type="text" data-field-name="mtngId" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'mtngId', '==')" placeholder="Meeting ID Search" />
            </th>
            <th>
                <input #filterElements id="filterclrPh" inputId="filterclrPh" style="width: 100%;" pInputText type="text" data-field-name="clrPh" data-where-operator=">=" (keyup.enter)="onFilterChange($event.target.value, 'clrPh', '>=')" placeholder="Caller Phone Search" />
            </th>
            <th>
                <input #filterElements id="filterrcvrPh" inputId="filterrcvrPh" style="width: 100%;" pInputText type="text" data-field-name="rcvrPh" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'rcvrPh', '==')" placeholder="Receiver Phone Search" />
            </th>
            <th>
                <input #filterElements id="filterchnl" inputId="filterchnl" style="width: 100%;" pInputText type="text" data-field-name="chnl" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'chnl', '==')" placeholder="Channel ID Search" />
            </th>
            <th>
                <input #filterElements id="filtertkn" inputId="filtertkn" style="width: 100%;" pInputText type="text" data-field-name="tkn" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'tkn', '==')" placeholder="Token Search" />
            </th>
            <th>
                <input #filterElements id="filterclStts" inputId="filterclStts" style="width: 100%;" pInputText type="number" 
                    data-field-name="clStts" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'clStts', '==')" 
                    placeholder="Call Status Search" />
            </th>
            <th>
                <p-calendar #filterElements id="filterstrtTm" inputId="filterstrtTm" data-field-name="strtTm" data-where-operator="==" 
                (onSelect)="onFilterChange($event, 'strtTm', '==')" ></p-calendar>
            </th>
            <th>
                <p-calendar #filterElements id="filterendTm" inputId="filterendTm" data-field-name="endTm" data-where-operator="==" 
                (onSelect)="onFilterChange($event, 'endTm', '==')" ></p-calendar>
            </th>
            <th style="width:100%;"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-meeting let-rowIndex="rowIndex">
        <tr [pSelectableRow]="meeting" [pSelectableRowIndex]="rowIndex" (dblclick)="editRecord(meeting)">
                    <td class="bigText ">{{ meeting.mtngId  }}</td>
                    <td class="bigText primaryColumn">{{ meeting.clrPh  }}</td>
                    <td class="bigText ">{{ meeting.rcvrPh  }}</td>
                    <td class="bigText ">{{ meeting.chnl  }}</td>
                    <td class="bigText ">{{ meeting.tkn  }}</td>
                    <td class="bigText ">{{ meeting.clStts  }}</td>
                    <td class="bigText ">{{ meeting.strtTm | date: 'MMM/dd/yyyy' }}</td>
                    <td class="bigText ">{{ meeting.endTm | date: 'MMM/dd/yyyy' }}</td>
            <td>
                <button *ngIf="(showActionButton('read') && !showActionButton('update'))" pButton pripple type="button" icon="pi pi-eye" title="View record" (click)="editRecord(meeting)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('update')" pButton pripple type="button" icon="pi pi-pencil" title="Edit record" (click)="editRecord(meeting)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('delete')" pButton pripple type="button" icon="pi pi-times" title="Delete record" (click)="deleteRecord(meeting)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100">No Meeting found.</td>
        </tr>
    </ng-template>
</p-table>
</form>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW || _selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE || _selectedMenuId === adminToolbar.AdminToolbarCommands.DELETE" [header]="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW?'New Record':_selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE?'Edit Record':'Delete Record'">
        <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
        <form [formGroup]="formGroup" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
                
                    <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="mtngId" class="p-col-fixed " style="width:120px">Meeting ID</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText  [(ngModel)]="meetingEditViewData.value.mtngId"
                            id="mtngId" inputId="mtngId" formControlName="mtngId" 
                            class="form-control" aria-describedby="mtngId-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('mtngId').valid) || (formGroup.get('mtngId').touched && !formGroup.get('mtngId').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="clrPh" class="p-col-fixed required" style="width:120px">Caller Phone</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="meetingEditViewData.value.clrPh"
                            id="clrPh" inputId="clrPh" formControlName="clrPh" 
                            class="form-control" aria-describedby="clrPh-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('clrPh').valid) || (formGroup.get('clrPh').touched && !formGroup.get('clrPh').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="rcvrPh" class="p-col-fixed required" style="width:120px">Receiver Phone</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="meetingEditViewData.value.rcvrPh"
                            id="rcvrPh" inputId="rcvrPh" formControlName="rcvrPh" 
                            class="form-control" aria-describedby="rcvrPh-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('rcvrPh').valid) || (formGroup.get('rcvrPh').touched && !formGroup.get('rcvrPh').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="chnl" class="p-col-fixed " style="width:120px">Channel ID</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText  [(ngModel)]="meetingEditViewData.value.chnl"
                            id="chnl" inputId="chnl" formControlName="chnl" 
                            class="form-control" aria-describedby="chnl-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('chnl').valid) || (formGroup.get('chnl').touched && !formGroup.get('chnl').valid)}"/>
                        </div>
                    </div>
                        </div>
                        <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="tkn" class="p-col-fixed " style="width:120px">Token</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText  [(ngModel)]="meetingEditViewData.value.tkn"
                            id="tkn" inputId="tkn" formControlName="tkn" 
                            class="form-control" aria-describedby="tkn-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('tkn').valid) || (formGroup.get('tkn').touched && !formGroup.get('tkn').valid)}"/>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="clStts" class="p-col-fixed " style="width:120px">Call Status</label>
                    <div class="p-col">
                        <p-inputNumber [readonly]="_readOnly"  [(ngModel)]="meetingEditViewData.value.clStts"
                            id="clStts" inputId="clStts" formControlName="clStts" 
                            [minFractionDigits]="0" [maxFractionDigits]="0"
                            class="form-control" aria-describedby="clStts-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('clStts').valid) || (formGroup.get('clStts').touched && !formGroup.get('clStts').valid)}"></p-inputNumber>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <label for="strtTm" class="p-col-fixed " style="width:120px">Meeting Start Time</label>
                    <div class="p-col">
                        <p-calendar [disabled]="_readOnly"  [(ngModel)]="meetingEditViewData.value.strtTm"
                            id="strtTm" inputId="strtTm" formControlName="strtTm"
                            class="form-control" aria-describedby="strtTm-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('strtTm').valid) || (formGroup.get('strtTm').touched && !formGroup.get('strtTm').valid)}">
                        </p-calendar>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <label for="endTm" class="p-col-fixed " style="width:120px">Meeting End Time</label>
                    <div class="p-col">
                        <p-calendar [disabled]="_readOnly"  [(ngModel)]="meetingEditViewData.value.endTm"
                            id="endTm" inputId="endTm" formControlName="endTm"
                            class="form-control" aria-describedby="endTm-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('endTm').valid) || (formGroup.get('endTm').touched && !formGroup.get('endTm').valid)}">
                        </p-calendar>
                    </div>
                </div>
                        </div>
                    </div>
                
              
                <div style="width: 100%;text-align: right;">
                    <div>
                      <p-button label="Close" icon="pi pi-times" styleClass="p-button-secondary"
                      [style]="{'margin-left': '.5em'}" (click)="close()"></p-button>
                      <p-button *ngIf="showActionButton(submitLabel)" type="submit" label="{{submitLabel}}" icon="pi pi-check" [disabled]="_readOnly || submitted || !myForm.valid" [ngClass]="{ 'p-button-danger':(_selectedMenuId === 'delete'), 'p-button-primary':(_selectedMenuId !== 'delete') }"></p-button>
                    </div>
                </div>

          </form>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.UPLOAD" header="Upload Data">
    <app-bulk-upload 
    [templateFormat]="initializationValue" 
    [fileNamePrefix]="fileNamePrefix"
    (onUploadSubmit)="onUploadSubmitClick($event)"></app-bulk-upload>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.DOWNLOAD" header="Download Data">
    <p-button type="button" (click)="downloadData($event, 'JSON')">Download JSON</p-button>
</p-panel>

<div *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST">
    <br/><br/><br/>
    Help:
    <ol>
        <li>Using filters to retrieve desired records is the best approach.</li>
        <li>After entering filter value, press Enter key to apply filter.</li>
        <li>Filtering on single field may not return all/accurate results because of Firebase limitations.</li>
        <li>By default the system give 5 records. Click on more... link to retrieve another set of records.</li>
        <li>"more..." records will be appended to existing data.</li>
        <li>Except the Administrator, other users can only view users of same or higher roles.</li>
        <li>If data is filtered on partial search field, it will be included as first column in sort order to comply with firebase. </li>
    </ol>
</div>