<div style="width: 100%;" *ngIf="showLogin">
    <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
    <form [formGroup]="loginForm" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">

        <span class="controlVGap">
            <label for="loginid" class="topLabel"><small>Login ID</small></label>
            <input id="loginid" type="text" pInputText formControlName="loginId" class="form-control"
                [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !loginForm.get('loginId').valid) || (loginForm.get('loginId').touched && !loginForm.get('loginId').valid)}"
                [style]="{'width':'100%'}" />
        </span>

        <span class="controlVGap">
            <label for="password" class="topLabel"><small>Password</small></label>
            <input id="password" type="password" pInputText formControlName="password" class="form-control"
                [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !loginForm.get('password').valid) || (loginForm.get('password').touched && !loginForm.get('password').valid)}"
                [style]="{'width':'100%'}" aria-describedby="password-help" />
        </span>

        <br/><br/>
        <div style="width: 100%;text-align: right;">
            <div>
                <button pButton type="button" label="Forgot Password" class="p-button-link"
                    [routerLink]="['/forgotPassword']" style="float: left;"></button>

                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                    [style]="{'margin-left': '.5em'}" [routerLink]="['/welcome']"></p-button>
                <p-button type="submit" label="Submit" icon="pi pi-check"
                    [disabled]="(submitted || !myForm.valid) && auth.loggedIn" styleClass="p-button-primary"></p-button>
            </div>
        </div>

    </form>
</div>

<div *ngIf="!showLogin">
    <h3>Pending Email Verification</h3>
    <h4>This email address is not verified yet.  Please check the email that was sent during registration and click on the link.</h4>
    <p-button [routerLink]="['/sendVerificationEmail']"
        (click)="sendEmailVerification()" label="Send Verification Email Again">
    </p-button>
</div>