<div class="vCenteredWrapper">

  <p-card header="{{statusMessage}}" subheader="" styleClass="p-card-shadow vCenteredBody"
      [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">

      <ng-template pTemplate="footer">
        <div style="width: 100%;" *ngIf="showEmailTOPLoginLink===true">

          <p-button label="Home" styleClass="p-button-text" [style]="{'float':'left'}" [routerLink]="['/home']">
          </p-button>
  
          <p-button label="Phone OTP Login" styleClass="p-button-text" [style]="{'float':'left'}" [routerLink]="['/auth/otp']"></p-button>
          <p-button label="Email OTP Login" styleClass="p-button-text" [style]="{'float':'left'}" [routerLink]="['/auth/otp?t=1']"></p-button>

        </div>
      </ng-template>

    </p-card>

</div>