<div class="vCenteredWrapper">
  <p-card *ngIf="showLogin" header="Login" subheader="Please login using any of the following methods."
    styleClass="p-card-shadow vCenteredBody"
    [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">

    <ng-template pTemplate="body">
      
      <p-tabView [activeIndex]="activeTab">

        <p-tabPanel header="With Password">
          <ng-template pTemplate="body">
            <app-password-login></app-password-login>
          </ng-template>
        </p-tabPanel>

        <p-tabPanel header="With OTP">
          <ng-template pTemplate="body">
            <app-otp-login [firebaseConfig]="firebaseAppConfig"></app-otp-login>
          </ng-template>
        </p-tabPanel>

      </p-tabView>
      
    </ng-template>    

    <ng-template pTemplate="footer">
      <app-federated-login [firebaseConfig]="firebaseAppConfig"></app-federated-login>
    </ng-template>
  </p-card>

</div>