<div class="pageTitle p-component">
    <h1>Products Administration</h1>
</div>

<app-admintoolbar #adminToolbar 
    [selectedMenuId]="_selectedMenuId" 
    [activeSortCount]="_activeSortCount"
    [activeFiltersCount]="_activeFiltersCount"
    (onAdminMenuClick)="onAdminMenuClick($event)" ></app-admintoolbar>
<form>
    <!-- [lazy] and (onLazyLoad) event is not used as it triggers server call on each page change -->
<p-table  *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST" #tblProducts [value]="productsListViewData.value" 
    dataKey="id" [lazy]="false" [(selection)]="selectedRecord"
    [filterDelay]="500" [rows]="rowsPerPage" [totalRecords]="totalRows" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" paginatorPosition="both" selectionMode="single"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" 
    (onRowSelect)="onListRowSelect($event)" (onRowUnselect)="onListRowUnselect($event)"
    (onSort)="onSortChange($event)" (onPage)="onPageChange($event)">

    <ng-template pTemplate="paginatorleft">
        <span class="gridCaption" style="left: 15px;">List of Products</span>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" label="more..." title="There could be more records.  Click here to retrieve." (click)="more()" styleClass="p-button-text"></p-button>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <!-- Column headings -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;" pSortableColumn="products.name">Product Name<p-sortIcon field="products.name"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="products.desc">Product Description<p-sortIcon field="products.desc"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="products.price">Unit Price<p-sortIcon field="products.price"></p-sortIcon></th>
            <th style="width:100%;">Action</th>
        </tr>

        <tr *ngIf="_filterVisible">
            <!-- Column filters -->
            <!-- width:100%; makes all the columns equal width -->
            <th>
                <input #filterElements id="filtername" inputId="filtername" style="width: 100%;" pInputText type="text" data-field-name="name" data-where-operator=">=" (keyup.enter)="onFilterChange($event.target.value, 'name', '>=')" placeholder="Product Name Search" />
            </th>
            <th>
                <input #filterElements id="filterdesc" inputId="filterdesc" style="width: 100%;" pInputText type="text" data-field-name="desc" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'desc', '==')" placeholder="Product Description Search" />
            </th>
            <th>
                <input #filterElements id="filterprice" inputId="filterprice" style="width: 100%;" pInputText type="number" 
                    data-field-name="price" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'price', '==')" 
                    placeholder="Unit Price Search" />
            </th>
            <th style="width:100%;"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-products let-rowIndex="rowIndex">
        <tr [pSelectableRow]="products" [pSelectableRowIndex]="rowIndex" (dblclick)="editRecord(products)">
                    <td class="bigText primaryColumn">{{ products.name  }}</td>
                    <td class="bigText ">{{ products.desc  }}</td>
                    <td class="bigText ">{{ products.price | number:'1.0-2' }}</td>
            <td>
                <button *ngIf="(showActionButton('read') && !showActionButton('update'))" pButton pripple type="button" icon="pi pi-eye" title="View record" (click)="editRecord(products)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('update')" pButton pripple type="button" icon="pi pi-pencil" title="Edit record" (click)="editRecord(products)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('delete')" pButton pripple type="button" icon="pi pi-times" title="Delete record" (click)="deleteRecord(products)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100">No Products found.</td>
        </tr>
    </ng-template>
</p-table>
</form>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW || _selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE || _selectedMenuId === adminToolbar.AdminToolbarCommands.DELETE" [header]="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW?'New Record':_selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE?'Edit Record':'Delete Record'">
        <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
        <form [formGroup]="formGroup" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
                
                    <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="name" class="p-col-fixed required" style="width:120px">Product Name</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="productsEditViewData.value.name"
                            id="name" inputId="name" formControlName="name" 
                            class="form-control" aria-describedby="name-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('name').valid) || (formGroup.get('name').touched && !formGroup.get('name').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="desc" class="p-col-fixed " style="width:120px">Product Description</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText  [(ngModel)]="productsEditViewData.value.desc"
                            id="desc" inputId="desc" formControlName="desc" 
                            class="form-control" aria-describedby="desc-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('desc').valid) || (formGroup.get('desc').touched && !formGroup.get('desc').valid)}"/>
                        </div>
                    </div>
                        </div>
                        <div class="p-field p-col">
                            
				
                <div class="p-field p-grid">
                    <label for="price" class="p-col-fixed " style="width:120px">Unit Price</label>
                    <div class="p-col">
                        <p-inputNumber [readonly]="_readOnly" mode="decimal"  [(ngModel)]="productsEditViewData.value.price"
                            id="price" inputId="price" formControlName="price" 
                            [minFractionDigits]="2" [maxFractionDigits]="2"
                            class="form-control" aria-describedby="price-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('price').valid) || (formGroup.get('price').touched && !formGroup.get('price').valid)}"></p-inputNumber>
                    </div>
                </div>
                        </div>
                    </div>
                
              
                <div style="width: 100%;text-align: right;">
                    <div>
                      <p-button label="Close" icon="pi pi-times" styleClass="p-button-secondary"
                      [style]="{'margin-left': '.5em'}" (click)="close()"></p-button>
                      <p-button *ngIf="showActionButton(submitLabel)" type="submit" label="{{submitLabel}}" icon="pi pi-check" [disabled]="_readOnly || submitted || !myForm.valid" [ngClass]="{ 'p-button-danger':(_selectedMenuId === 'delete'), 'p-button-primary':(_selectedMenuId !== 'delete') }"></p-button>
                    </div>
                </div>

          </form>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.UPLOAD" header="Upload Data">
    <app-bulk-upload 
    [templateFormat]="initializationValue" 
    [fileNamePrefix]="fileNamePrefix"
    (onUploadSubmit)="onUploadSubmitClick($event)"></app-bulk-upload>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.DOWNLOAD" header="Download Data">
    <p-button type="button" (click)="downloadData($event, 'JSON')">Download JSON</p-button>
</p-panel>

<div *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST">
    <br/><br/><br/>
    Help:
    <ol>
        <li>Using filters to retrieve desired records is the best approach.</li>
        <li>After entering filter value, press Enter key to apply filter.</li>
        <li>Filtering on single field may not return all/accurate results because of Firebase limitations.</li>
        <li>By default the system give 5 records. Click on more... link to retrieve another set of records.</li>
        <li>"more..." records will be appended to existing data.</li>
        <li>Except the Administrator, other users can only view users of same or higher roles.</li>
        <li>If data is filtered on partial search field, it will be included as first column in sort order to comply with firebase. </li>
    </ol>
</div>