<div class="vCenteredWrapper">


  <p-card *ngIf="isEmailConfirmed==2" header="Email Verification" subheader="{{statusMessage}}"
    styleClass="p-card-shadow vCenteredBody"
    [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">

    <p-button [style]="{'float':'right'}" *ngIf="isEmailConfirmed==1" [routerLink]="['/login']" label="Login">
    </p-button>
    <p-button [style]="{'float':'right'}" *ngIf="isEmailConfirmed==2" [routerLink]="['/register']" label="Register">
    </p-button>
  </p-card>


  <p-card *ngIf="isEmailConfirmed==1" header="Create Password" subheader="Please create password."
    styleClass="p-card-shadow vCenteredBody"
    [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">

    <form [formGroup]="passwordForm" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">

      <span class="controlVGap">
        <label for="loginid" class="topLabel required"><small>User ID</small></label>
        <input type="text" [readonly]="true" [style]="{'width':'100%'}" pInputText required id="userId" inputId="userId"
          formControlName="userId" class="form-control" aria-describedby="userId-help" />
      </span>
      <br/>
      <span class="controlVGap">
        <label for="password" class="topLabel required"><small>Password:</small></label>
        <input type="password" pInputText required [style]="{'width':'100%'}" id="password" inputId="password"
          formControlName="password" class="form-control" aria-describedby="password-help"
          [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !passwordForm.get('password').valid) || (passwordForm.get('password').touched && !passwordForm.get('password').valid)}" />
        <div class="smallText">
          <ul>
            <li>minimum {{passwordMinLen}} characters.</li>
            <li>Uppercase letter, lowercase letter, number<br />and special character are mandatory.</li>
          </ul>
        </div>
      </span>
      <br/>
      <span class="controlVGap">
        <label for="confirmPassword" class="topLabel required"><small>Confirm Password:</small></label>
        <input type="password" pInputText required [style]="{'width':'100%'}" id="confirmPassword"
          inputId="confirmPassword" formControlName="confirmPassword" class="form-control"
          aria-describedby="confirmPassword-help"
          [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !passwordForm.get('confirmPassword').valid) || (passwordForm.get('confirmPassword').touched && !passwordForm.get('confirmPassword').valid)}" />
      </span>
      <br/>
      <p-button type="submit" label="Submit" icon="pi pi-check" [style]="{'float':'right'}" [disabled]="submitted || 
                      !myForm.valid || 
                      !checkPasswordStrength(passwordForm.get('password').value) ||
                      !(passwordForm.get('confirmPassword').value === passwordForm.get('password').value )"
        styleClass="p-button-primary"></p-button>
    </form>
  </p-card>

</div>