<div class="vCenteredWrapper">
    <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
    <form *ngIf="(viewMode=='email')" [formGroup]="forgotPasswordForm" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
      <p-card header="Forgot Password" subheader="Please provide your email to reset your password." styleClass="p-card-shadow vCenteredBody"
        [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">
  
        <ng-template pTemplate="body">
          <span class="controlVGap">
            <label for="loginid" class="topLabel"><small>Email</small></label>
            <input #loginid id="loginid" type="text" pInputText formControlName="loginId" class="form-control" 
            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !forgotPasswordForm.get('loginId').valid) || (forgotPasswordForm.get('loginId').touched && !forgotPasswordForm.get('loginId').valid)}" 
            [style]="{'width':'100%'}" autoFocus />
          </span>
        </ng-template>
  
        <ng-template pTemplate="footer">
          <div style="width: 100%;">
            <div style="float:right">
              <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                [style]="{'margin-left': '.5em'}" [routerLink]="['/welcome']"></p-button>
  
              <p-button type="submit" label="Submit" icon="pi pi-check" 
                [disabled]="( submitted || !myForm.valid )" styleClass="p-button-primary"></p-button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </form>


    <form *ngIf="(viewMode=='password')" [formGroup]="resetPasswordForm" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
      <p-card header="Reset Password" subheader="Please enter new password." styleClass="p-card-shadow vCenteredBody"
        [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">
  
        <ng-template pTemplate="body">
          <span class="controlVGap">
            <label for="newPassword" class="topLabel"><small>Password</small></label>
            <input #newPassword id="newPassword" type="text" pInputText formControlName="newPassword" class="form-control" 
            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !resetPasswordForm.get('newPassword').valid) || (resetPasswordForm.get('newPassword').touched && !resetPasswordForm.get('newPassword').valid)}" 
            [style]="{'width':'100%'}" autoFocus />

            <div class="smallText">
              <ul>
                <li>minimum {{passwordMinLen}} characters.</li>
                <li>Uppercase letter, lowercase letter, number<br />and special character are mandatory.</li>
              </ul>
            </div>

          </span>
        </ng-template>
  
        <ng-template pTemplate="footer">
          <div style="width: 100%;">
            <div style="float:right">
                <p-button type="submit" label="Submit" icon="pi pi-check" 
                [disabled]="( submitted || !myForm.valid || !checkPasswordStrength(resetPasswordForm.get('newPassword').value))" styleClass="p-button-primary"></p-button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </form>

  </div>