<div class="pageTitle p-component">
    <h1>FinanceReport Report</h1>
</div>

<form>
    <!-- [lazy] and (onLazyLoad) event is not used as it triggers server call on each page change -->
<p-table  #tblFinanceReport [value]="financeReportListViewData.value" 
    dataKey="" [lazy]="false"
    [filterDelay]="500" [rows]="rowsPerPage" [totalRecords]="totalRows" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" paginatorPosition="both" selectionMode="single"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" >

    <ng-template pTemplate="paginatorleft">
        <span class="gridCaption" style="left: 15px;">FinanceReport</span>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" label="more..." title="There could be more records.  Click here to retrieve." (click)="more()" styleClass="p-button-text"></p-button>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <!-- Column headings -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;" pSortableColumn="financeReport.field1">Field 1<p-sortIcon field="financeReport.field1"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="financeReport.field2">Field 2<p-sortIcon field="financeReport.field2"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="financeReport.field3">Field 3<p-sortIcon field="financeReport.field3"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="financeReport.field4">Field 4<p-sortIcon field="financeReport.field4"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="financeReport.field5">Field 5<p-sortIcon field="financeReport.field5"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="financeReport.field6">Field 6<p-sortIcon field="financeReport.field6"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="financeReport.field7">Field 7<p-sortIcon field="financeReport.field7"></p-sortIcon></th>
        </tr>

        <tr *ngIf="_filterVisible">
            <!-- Column filters -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-financeReport let-rowIndex="rowIndex">
        <tr>
                <td class="bigText">{{ financeReport.field1  }}</td>
                <td class="bigText">{{ financeReport.field2 | number:'1.0-2' }}</td>
                <td class="bigText">{{ financeReport.field3  }}</td>
                <td class="bigText"></td>
                <td class="bigText">{{ financeReport.field5 | number:'1.0-2' }}</td>
                <td class="bigText">{{ financeReport.field6 | date: 'MMM/dd/yyyy' }}</td>
                <td class="bigText">{{ financeReport.field7  }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100">No FinanceReport found.</td>
        </tr>
    </ng-template>
</p-table>
</form>

<div>
    <br/><br/><br/>
    Help:
    <ol>
        <li>Using filters to retrieve desired records is the best approach.</li>
        <li>After entering filter value, press Enter key to apply filter.</li>
        <li>Filtering on single field may not return all/accurate results because of Firebase limitations.</li>
        <li>By default the system give 5 records. Click on more... link to retrieve another set of records.</li>
        <li>"more..." records will be appended to existing data.</li>
        <li>Except the Administrator, other users can only view users of same or higher roles.</li>
        <li>If data is filtered on partial search field, it will be included as first column in sort order to comply with firebase. </li>
    </ol>
</div>