<div class="p-grid" style="width: 100%;">
    <div class="p-col-8">
        <h2>Email Confirmation</h2>
        An email has been sent to <i style="background-color:seashell;">{{email}}</i><br/>
        with subject <i style="background-color:seashell;">{{emailSubject}}</i>.<br/><br/>
        
        Please follow the instructions to confirm your registration.
    </div>
    <div class="p-col-4">
        <h2>Phone Login</h2>
        Click the button below to login with your phone number.
        <div>
            <button pButton type="button" label="Phone Login" [style]="{'margin-top':'20px'}" [routerLink]="['../phone']"></button>
        </div>
    </div>
</div>