<div>

  <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate phone card a bit -->

  <!-- The parent component should import TabViewModule to make this work -->
    <p-tabView [activeIndex]="activeTab">
      <p-tabPanel header="Phone OTP Login">
        <ng-template pTemplate="body">

          <form [formGroup]="phoneForm" #myPhoneForm="ngForm" [attr.data-submitted]="myPhoneForm.submitted"
            (ngSubmit)="signInWithPhoneNumber()">
            <span *ngIf="showOTPPhone" class="controlVGap">
              <label for="phoneNumber" class="topLabel"><small style="margin-right: 80px;">Country
                  Code</small><small>Phone Number</small></label>
              <br />

              <!-- The parent component should import DropdownModule to make this work -->
              <p-dropdown [options]='countryCodes' [(ngModel)]="selectedCountryCode" formControlName="countryCode" editable="true" optionValue="code"
                optionLabel="name" [filter]="true" filterBy="label" [showClear]="false"
                [style]="{ 'margin-right':'10px', 'float':'left', 'width':'150px'}">

                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value" *ngIf="selectedCountry">
                    <div>{{selectedCountry.name}}</div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div>{{country.label}}</div>
                  </div>
                </ng-template>

              </p-dropdown>

              <p-inputMask [mask]="selectedCountryCode.mask || '9999999999'"
                id="phoneNumber" type="text" class="form-control"
                id="phoneNumber" inputId="phoneNumber" formControlName="phoneNumber" 
                unmask="true"
                [style]="{'margin-right':'20px'}"
                [ngClass]="{
                  'ng-dirty invalidControlBG':
                    (myPhoneForm.submitted && !phoneForm.get('phoneNumber').valid) || 
                    (phoneForm.get('phoneNumber').touched && !phoneForm.get('phoneNumber').valid)
                  }">
              </p-inputMask>

              <!-- The parent component should import ButtonModule to make this work -->
              <p-button type="submit" label="Get Phone OTP" icon="pi pi-check" 
              [disabled]="(submitted || !phoneForm.get('phoneNumber').valid)"
                styleClass="p-button-primary" [style]="{'margin-top':'20px'}"></p-button>
            </span>
            <span *ngIf="!showOTPPhone">
              <label for="otp" class="topLabel"><small>OTP</small></label><br />
              <input pInputText id="otp" name="otp" type="number" formControlName="OTP" placeholder="Enter OTP here"
                [style]="{'float':'left', 'margin-right':'20px'}" />
              <p-button type="button" (click)="verifyOTP()" label="Verify" icon="pi pi-check"
                [disabled]="(submitted || !myPhoneForm.valid) && auth.loggedIn" styleClass="p-button-primary"></p-button>
            </span>
          </form>

        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Email OTP Login">
        <ng-template pTemplate="body">

          <form [formGroup]="emailForm" #myForm2="ngForm" [attr.data-submitted]="myForm2.submitted" (ngSubmit)="sendEmailOTPLink()">
            <label for="phoneNumber" class="topLabel"><small style="margin-right: 80px;">Email</small></label>
            <br />
          <input id="email" type="text" pInputText formControlName="email" class="form-control" [ngClass]="{
                'ng-dirty invalidControlBG':
                  (myForm2.submitted && !emailForm.get('email').valid) || 
                  (emailForm.get('email').touched && !emailForm.get('email').valid)
              }" [style]="{'margin-right':'20px'}" />
          <p-button type="submit" label="Get Email OTP" icon="pi pi-check" [disabled]="(submitted || !myForm2.valid)"
            styleClass="p-button-primary"></p-button>
          </form>
          <br/>
          <div></div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>

    <div style="margin-top: 20px;" id="recaptcha-container" name="recaptcha-container"></div>
</div>