<div class="pageTitle p-component">
    <h1>Users Administration</h1>
</div>

<app-admintoolbar #adminToolbar 
    [selectedMenuId]="_selectedMenuId" 
    [activeSortCount]="_activeSortCount"
    [activeFiltersCount]="_activeFiltersCount"
    (onAdminMenuClick)="onAdminMenuClick($event)" ></app-admintoolbar>
<form>
    <!-- [lazy] and (onLazyLoad) event is not used as it triggers server call on each page change -->
<p-table  *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST" #tblUsers [value]="usersListViewData.value" 
    dataKey="id" [lazy]="false" [(selection)]="selectedRecord"
    [filterDelay]="500" [rows]="rowsPerPage" [totalRecords]="totalRows" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" paginatorPosition="both" selectionMode="single"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" 
    (onRowSelect)="onListRowSelect($event)" (onRowUnselect)="onListRowUnselect($event)"
    (onSort)="onSortChange($event)" (onPage)="onPageChange($event)">

    <ng-template pTemplate="paginatorleft">
        <span class="gridCaption" style="left: 15px;">List of Users</span>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" label="more..." title="There could be more records.  Click here to retrieve." (click)="more()" styleClass="p-button-text"></p-button>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <!-- Column headings -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;" pSortableColumn="users.displayName">User Name<p-sortIcon field="users.displayName"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="users.email">Email<p-sortIcon field="users.email"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="users.role">Role<p-sortIcon field="users.role"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="users.dob">Date of Birth<p-sortIcon field="users.dob"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="users.ssn">SSN<p-sortIcon field="users.ssn"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="users.disabled">Disabled<p-sortIcon field="users.disabled"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="users.address.city">City<p-sortIcon field="users.address.city"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="users.address.country">Country<p-sortIcon field="users.address.country"></p-sortIcon></th>
            <th style="width:100%;">Action</th>
        </tr>

        <tr *ngIf="_filterVisible">
            <!-- Column filters -->
            <!-- width:100%; makes all the columns equal width -->
            <th>
                <input #filterElements id="filterdisplayName" inputId="filterdisplayName" style="width: 100%;" pInputText type="text" data-field-name="displayName" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'displayName', '==')" placeholder="User Name Search" />
            </th>
            <th>
                <input #filterElements id="filteremail" inputId="filteremail" style="width: 100%;" pInputText type="text" data-field-name="email" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'email', '==')" placeholder="Email Search" />
            </th>
            <th>
                <p-dropdown #filterElements appendTo="body" [options]="appDataService.roles"
                    id="filterrole" inputId="filterrole" data-field-name="role" data-where-operator=">="
                    (onChange)="onFilterChange($event.value.code, 'role.code', '==')" placeholder="Select a role"
                    [style]="{'max-width':'100%', 'border-color':'black'}" autoDisplayFirst="false" optionLabel="name"></p-dropdown>
            </th>
            <th>
                <p-calendar #filterElements id="filterdob" inputId="filterdob" data-field-name="dob" data-where-operator="==" 
                (onSelect)="onFilterChange($event, 'dob', '==')" ></p-calendar>
            </th>
            <th>
                <input #filterElements id="filterssn" inputId="filterssn" style="width: 100%;" pInputText type="number" 
                    data-field-name="ssn" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'ssn', '==')" 
                    placeholder="SSN Search" />
            </th>
            <th>
                <p-inputSwitch #filterElements id="filterdisabled" inputId="filterdisabled" data-field-name="disabled" data-where-operator="==" 
                (onChange)="onFilterChange($event.checked, 'disabled', '==')" ></p-inputSwitch>
            </th>
            <th>
                
            </th>
            <th>
                <input #filterElements id="filteraddress.country" inputId="filteraddress.country" style="width: 100%;" pInputText type="text" data-field-name="address.country" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'address.country', '==')" placeholder="Country Search" />
            </th>
            <th style="width:100%;"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-users let-rowIndex="rowIndex">
        <tr [pSelectableRow]="users" [pSelectableRowIndex]="rowIndex" (dblclick)="editRecord(users)">
                    <td class="bigText ">{{ users.displayName  }}</td>
                    <td class="bigText ">{{ users.email  }}</td>
                    <td class="bigText primaryColumn">{{ users.role.name }}</td>
                    <td class="bigText ">{{ users.dob | date: 'MMM/dd/yyyy' }}</td>
                    <td class="bigText ">{{ users.ssn | number:'1.0-2' }}</td>
                    <td class="bigText ">{{ users.disabled  }}</td>
                    <td class="bigText ">
						<span class="nestedData">address.city.colony</span><br/>{{ users.address.city.colony  }}<br/><br/>
						<span class="nestedData">address.city.foundedon</span><br/>{{ users.address.city.foundedon | date: 'MMM/dd/yyyy' }}<br/><br/></td>
                    <td class="bigText ">{{ users.address.country  }}</td>
            <td>
                <button *ngIf="(showActionButton('read') && !showActionButton('update'))" pButton pripple type="button" icon="pi pi-eye" title="View record" (click)="editRecord(users)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('update')" pButton pripple type="button" icon="pi pi-pencil" title="Edit record" (click)="editRecord(users)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('delete')" pButton pripple type="button" icon="pi pi-times" title="Delete record" (click)="deleteRecord(users)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100">No Users found.</td>
        </tr>
    </ng-template>
</p-table>
</form>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW || _selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE || _selectedMenuId === adminToolbar.AdminToolbarCommands.DELETE" [header]="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW?'New Record':_selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE?'Edit Record':'Delete Record'">
        <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
        <form [formGroup]="formGroup" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
                
                    <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="displayName" class="p-col-fixed required" style="width:120px">User Name</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.displayName"
                            id="displayName" inputId="displayName" formControlName="displayName" 
                            class="form-control" aria-describedby="displayName-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('displayName').valid) || (formGroup.get('displayName').touched && !formGroup.get('displayName').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="email" class="p-col-fixed required" style="width:120px">Email</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.email"
                            id="email" inputId="email" formControlName="email" 
                            class="form-control" aria-describedby="email-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('email').valid) || (formGroup.get('email').touched && !formGroup.get('email').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="phoneNumber" class="p-col-fixed required" style="width:120px">Phone Number</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.phoneNumber"
                            id="phoneNumber" inputId="phoneNumber" formControlName="phoneNumber" 
                            class="form-control" aria-describedby="phoneNumber-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('phoneNumber').valid) || (formGroup.get('phoneNumber').touched && !formGroup.get('phoneNumber').valid)}"/>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="emailVerified" class="p-col-fixed " style="width:120px">Email Verified</label>
                    <div class="p-col">
                        <p-inputSwitch [readonly]="_readOnly"  [(ngModel)]="usersEditViewData.value.emailVerified"
                            id="emailVerified" inputId="emailVerified" formControlName="emailVerified"
                            class="form-control" aria-describedby="emailVerified-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('emailVerified').valid) || (formGroup.get('emailVerified').touched && !formGroup.get('emailVerified').valid)}">
                        </p-inputSwitch>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <label for="disabled" class="p-col-fixed " style="width:120px">Disabled</label>
                    <div class="p-col">
                        <p-inputSwitch [readonly]="_readOnly"  [(ngModel)]="usersEditViewData.value.disabled"
                            id="disabled" inputId="disabled" formControlName="disabled"
                            class="form-control" aria-describedby="disabled-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('disabled').valid) || (formGroup.get('disabled').touched && !formGroup.get('disabled').valid)}">
                        </p-inputSwitch>
                    </div>
                </div>
                        </div>
                        <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="photoURL" class="p-col-fixed " style="width:120px">Photo URL</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText  [(ngModel)]="usersEditViewData.value.photoURL"
                            id="photoURL" inputId="photoURL" formControlName="photoURL" 
                            class="form-control" aria-describedby="photoURL-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('photoURL').valid) || (formGroup.get('photoURL').touched && !formGroup.get('photoURL').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="role" class="p-col-fixed required" style="width:120px">Role</label>
                        <div class="p-col">
                            <p-dropdown [readonly]="_readOnly" appendTo="body" [options]="appDataService.roles"
                            optionValue="code" optionLabel="name" [(ngModel)]="usersEditViewData.value.role" formControlName="role"
                            id="role" inputId="role" data-field-name="role" required
                            autoDisplayFirst="false"></p-dropdown>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="dob" class="p-col-fixed required" style="width:120px">Date of Birth</label>
                    <div class="p-col">
                        <p-calendar [disabled]="_readOnly" required [(ngModel)]="usersEditViewData.value.dob"
                            id="dob" inputId="dob" formControlName="dob"
                            class="form-control" aria-describedby="dob-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('dob').valid) || (formGroup.get('dob').touched && !formGroup.get('dob').valid)}">
                        </p-calendar>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <label for="ssn" class="p-col-fixed " style="width:120px">SSN</label>
                    <div class="p-col">
                        <p-inputNumber [readonly]="_readOnly"  [(ngModel)]="usersEditViewData.value.ssn"
                            id="ssn" inputId="ssn" formControlName="ssn" 
                            [minFractionDigits]="0" [maxFractionDigits]="0"
                            class="form-control" aria-describedby="ssn-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('ssn').valid) || (formGroup.get('ssn').touched && !formGroup.get('ssn').valid)}"></p-inputNumber>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <div formGroupName="address">
                    <label for="address" class="p-col-fixed " style="width:120px">Address</label>
                    <div class="p-col">
				
                <div class="p-field p-grid">
                    <div formGroupName="city">
                    <label for="address.city" class="p-col-fixed required" style="width:120px">City</label>
                    <div class="p-col">
				
                    <div class="p-field p-grid">
                        <label for="address.city.colony" class="p-col-fixed required" style="width:120px">Colony</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.address.city.colony"
                            id="address.city.colony" inputId="address.city.colony" formControlName="colony" 
                            class="form-control" aria-describedby="address.city.colony-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('address.city.colony').valid) || (formGroup.get('address.city.colony').touched && !formGroup.get('address.city.colony').valid)}"/>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="address.city.foundedon" class="p-col-fixed " style="width:120px">FoundedOn</label>
                    <div class="p-col">
                        <p-calendar [disabled]="_readOnly"  [(ngModel)]="usersEditViewData.value.address.city.foundedon"
                            id="address.city.foundedon" inputId="address.city.foundedon" formControlName="foundedon"
                            class="form-control" aria-describedby="foundedon-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('address.city.foundedon').valid) || (formGroup.get('address.city.foundedon').touched && !formGroup.get('address.city.foundedon').valid)}">
                        </p-calendar>
                    </div>
                </div></div>
                    </div>
                </div>
				
                    <div class="p-field p-grid">
                        <label for="address.country" class="p-col-fixed required" style="width:120px">Country</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.address.country"
                            id="address.country" inputId="address.country" formControlName="country" 
                            class="form-control" aria-describedby="address.country-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('address.country').valid) || (formGroup.get('address.country').touched && !formGroup.get('address.country').valid)}"/>
                        </div>
                    </div></div>
                    </div>
                </div>
                        </div>
                    </div>
                
              
                <div style="width: 100%;text-align: right;">
                    <div>
                      <p-button label="Close" icon="pi pi-times" styleClass="p-button-secondary"
                      [style]="{'margin-left': '.5em'}" (click)="close()"></p-button>
                      <p-button *ngIf="showActionButton(submitLabel)" type="submit" label="{{submitLabel}}" icon="pi pi-check" [disabled]="_readOnly || submitted || !myForm.valid" [ngClass]="{ 'p-button-danger':(_selectedMenuId === 'delete'), 'p-button-primary':(_selectedMenuId !== 'delete') }"></p-button>
                    </div>
                </div>

          </form>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.UPLOAD" header="Upload Data">
    <app-bulk-upload 
    [templateFormat]="initializationValue" 
    [fileNamePrefix]="fileNamePrefix"
    (onUploadSubmit)="onUploadSubmitClick($event)"></app-bulk-upload>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.DOWNLOAD" header="Download Data">
    <p-button type="button" (click)="downloadData($event, 'JSON')">Download JSON</p-button>
</p-panel>

<div *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST">
    <br/><br/><br/>
    Help:
    <ol>
        <li>Using filters to retrieve desired records is the best approach.</li>
        <li>After entering filter value, press Enter key to apply filter.</li>
        <li>Filtering on single field may not return all/accurate results because of Firebase limitations.</li>
        <li>By default the system give 5 records. Click on more... link to retrieve another set of records.</li>
        <li>"more..." records will be appended to existing data.</li>
        <li>Except the Administrator, other users can only view users of same or higher roles.</li>
        <li>If data is filtered on partial search field, it will be included as first column in sort order to comply with firebase. </li>
    </ol>
</div>