<div>
    <div class="p-grid">
        <div class="p-col">
            <p-button [label]="(dataViewMode==1)?'Table View':'Text View'" [style]="{'margin-right':'20px','width':'140px'}" (click)="switchDataView()"></p-button>
            <p-splitButton label="Download CSV Format Template" data-format="CSV"
                (onClick)="downloadFormatTemplate('CSV')"
                 [model]="formatTemplates"></p-splitButton>
                 <p-button label="Submit" styleClass="p-button-success" [style]="{'float':'right','margin-right':'20px'}" (click)="onUploadSubmitClick()"></p-button>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <textarea *ngIf="dataViewMode==1" pInputTextarea rows="20" style="width: 100%;padding: 10px;" [(ngModel)]="userInputData" ></textarea>
            <p-table *ngIf="dataViewMode==2" [value]="csvDataArray">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let header of csvHeader">
                            {{header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td *ngFor="let data of helper.csvToArray(row)">
                            {{data}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>