<div class="vCenteredWrapper">
    <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
    <form [formGroup]="registerForm" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
      <p-card *ngIf="!showConfirmationInfo" header="Register" subheader="Please register." styleClass="p-card-shadow vCenteredBody"
        [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">
  
        <ng-template pTemplate="body">
          
                    <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="displayName" class="p-col-fixed required" style="width:120px">User Name</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.displayName"
                            id="displayName" inputId="displayName" formControlName="displayName" 
                            class="form-control" aria-describedby="displayName-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('displayName').valid) || (registerForm.get('displayName').touched && !registerForm.get('displayName').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="email" class="p-col-fixed required" style="width:120px">Email</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.email"
                            id="email" inputId="email" formControlName="email" 
                            class="form-control" aria-describedby="email-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('email').valid) || (registerForm.get('email').touched && !registerForm.get('email').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="phoneNumber" class="p-col-fixed required" style="width:120px">Phone Number</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.phoneNumber"
                            id="phoneNumber" inputId="phoneNumber" formControlName="phoneNumber" 
                            class="form-control" aria-describedby="phoneNumber-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('phoneNumber').valid) || (registerForm.get('phoneNumber').touched && !registerForm.get('phoneNumber').valid)}"/>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="emailVerified" class="p-col-fixed " style="width:120px">Email Verified</label>
                    <div class="p-col">
                        <p-inputSwitch [readonly]="_readOnly"  [(ngModel)]="usersEditViewData.value.emailVerified"
                            id="emailVerified" inputId="emailVerified" formControlName="emailVerified"
                            class="form-control" aria-describedby="emailVerified-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('emailVerified').valid) || (registerForm.get('emailVerified').touched && !registerForm.get('emailVerified').valid)}">
                        </p-inputSwitch>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <label for="disabled" class="p-col-fixed " style="width:120px">Disabled</label>
                    <div class="p-col">
                        <p-inputSwitch [readonly]="_readOnly"  [(ngModel)]="usersEditViewData.value.disabled"
                            id="disabled" inputId="disabled" formControlName="disabled"
                            class="form-control" aria-describedby="disabled-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('disabled').valid) || (registerForm.get('disabled').touched && !registerForm.get('disabled').valid)}">
                        </p-inputSwitch>
                    </div>
                </div>
                        </div>
                        <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="photoURL" class="p-col-fixed " style="width:120px">Photo URL</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText  [(ngModel)]="usersEditViewData.value.photoURL"
                            id="photoURL" inputId="photoURL" formControlName="photoURL" 
                            class="form-control" aria-describedby="photoURL-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('photoURL').valid) || (registerForm.get('photoURL').touched && !registerForm.get('photoURL').valid)}"/>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="dob" class="p-col-fixed required" style="width:120px">Date of Birth</label>
                    <div class="p-col">
                        <p-calendar [disabled]="_readOnly" required [(ngModel)]="usersEditViewData.value.dob"
                            id="dob" inputId="dob" formControlName="dob"
                            class="form-control" aria-describedby="dob-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('dob').valid) || (registerForm.get('dob').touched && !registerForm.get('dob').valid)}">
                        </p-calendar>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <label for="ssn" class="p-col-fixed " style="width:120px">SSN</label>
                    <div class="p-col">
                        <p-inputNumber [readonly]="_readOnly"  [(ngModel)]="usersEditViewData.value.ssn"
                            id="ssn" inputId="ssn" formControlName="ssn" 
                            [minFractionDigits]="0" [maxFractionDigits]="0"
                            class="form-control" aria-describedby="ssn-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('ssn').valid) || (registerForm.get('ssn').touched && !registerForm.get('ssn').valid)}"></p-inputNumber>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <div formGroupName="address">
                    <label for="address" class="p-col-fixed " style="width:120px">Address</label>
                    <div class="p-col">
				
                <div class="p-field p-grid">
                    <div formGroupName="city">
                    <label for="address.city" class="p-col-fixed required" style="width:120px">City</label>
                    <div class="p-col">
				
                    <div class="p-field p-grid">
                        <label for="address.city.colony" class="p-col-fixed required" style="width:120px">Colony</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.address.city.colony"
                            id="address.city.colony" inputId="address.city.colony" formControlName="colony" 
                            class="form-control" aria-describedby="address.city.colony-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('address.city.colony').valid) || (registerForm.get('address.city.colony').touched && !registerForm.get('address.city.colony').valid)}"/>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="address.city.foundedon" class="p-col-fixed " style="width:120px">FoundedOn</label>
                    <div class="p-col">
                        <p-calendar [disabled]="_readOnly"  [(ngModel)]="usersEditViewData.value.address.city.foundedon"
                            id="address.city.foundedon" inputId="address.city.foundedon" formControlName="foundedon"
                            class="form-control" aria-describedby="foundedon-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('address.city.foundedon').valid) || (registerForm.get('address.city.foundedon').touched && !registerForm.get('address.city.foundedon').valid)}">
                        </p-calendar>
                    </div>
                </div></div>
                    </div>
                </div>
				
                    <div class="p-field p-grid">
                        <label for="address.country" class="p-col-fixed required" style="width:120px">Country</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="usersEditViewData.value.address.country"
                            id="address.country" inputId="address.country" formControlName="country" 
                            class="form-control" aria-describedby="address.country-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !registerForm.get('address.country').valid) || (registerForm.get('address.country').touched && !registerForm.get('address.country').valid)}"/>
                        </div>
                    </div></div>
                    </div>
                </div>
                        </div>
                    </div>
                
        </ng-template>        

        <ng-template pTemplate="footer">
          <div style="width: 100%;">
            <div style="float:left">
              <p-button label="Login" icon="pi" styleClass="p-button-success"
              [style]="{'margin-left': '.5em'}" [routerLink]="['/login']"></p-button>
            </div>

            <div style="float:right">
              <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
              [style]="{'margin-left': '.5em'}" [routerLink]="['/welcome']"></p-button>
              <p-button type="submit" label="Submit" icon="pi pi-check" [disabled]="submitted || !myForm.valid" styleClass="p-button-primary"></p-button>
            </div>
          </div>
        </ng-template>
      </p-card>

      <p-card *ngIf="showConfirmationInfo" styleClass="p-card-shadow vCenteredBody">
        <app-confirm-registration [email]="selectedRecord.email"
            [emailSubject]="emailSubject"
            [style]="{'width': '45rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">
        </app-confirm-registration>
      </p-card>

    </form>
  </div>