<div class="pageTitle p-component">
    <h1>AppCods Administration</h1>
</div>

<app-admintoolbar #adminToolbar 
    [selectedMenuId]="_selectedMenuId" 
    [activeSortCount]="_activeSortCount"
    [activeFiltersCount]="_activeFiltersCount"
    (onAdminMenuClick)="onAdminMenuClick($event)" ></app-admintoolbar>
<form>
    <!-- [lazy] and (onLazyLoad) event is not used as it triggers server call on each page change -->
<p-table  *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST" #tblAppCods [value]="appCodsListViewData.value" 
    dataKey="id" [lazy]="false" [(selection)]="selectedRecord"
    [filterDelay]="500" [rows]="rowsPerPage" [totalRecords]="totalRows" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" paginatorPosition="both" selectionMode="single"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" 
    (onRowSelect)="onListRowSelect($event)" (onRowUnselect)="onListRowUnselect($event)"
    (onSort)="onSortChange($event)" (onPage)="onPageChange($event)">

    <ng-template pTemplate="paginatorleft">
        <span class="gridCaption" style="left: 15px;">List of AppCods</span>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" label="more..." title="There could be more records.  Click here to retrieve." (click)="more()" styleClass="p-button-text"></p-button>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <!-- Column headings -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;" pSortableColumn="appCods.lng">Language<p-sortIcon field="appCods.lng"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="appCods.code">App Code<p-sortIcon field="appCods.code"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="appCods.titl">Title<p-sortIcon field="appCods.titl"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="appCods.msg">Message<p-sortIcon field="appCods.msg"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="appCods.httpCode">HTTP Code<p-sortIcon field="appCods.httpCode"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="appCods.actn">Log Action<p-sortIcon field="appCods.actn"></p-sortIcon></th>
            <th style="width:100%;">Action</th>
        </tr>

        <tr *ngIf="_filterVisible">
            <!-- Column filters -->
            <!-- width:100%; makes all the columns equal width -->
            <th>
                <input #filterElements id="filterlng" inputId="filterlng" style="width: 100%;" pInputText type="text" data-field-name="lng" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'lng', '==')" placeholder="Language Search" />
            </th>
            <th>
                <input #filterElements id="filtercode" inputId="filtercode" style="width: 100%;" pInputText type="text" data-field-name="code" data-where-operator=">=" (keyup.enter)="onFilterChange($event.target.value, 'code', '>=')" placeholder="App Code Search" />
            </th>
            <th>
                <input #filterElements id="filtertitl" inputId="filtertitl" style="width: 100%;" pInputText type="text" data-field-name="titl" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'titl', '==')" placeholder="Title Search" />
            </th>
            <th>
                <input #filterElements id="filtermsg" inputId="filtermsg" style="width: 100%;" pInputText type="text" data-field-name="msg" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'msg', '==')" placeholder="Message Search" />
            </th>
            <th>
                <input #filterElements id="filterhttpCode" inputId="filterhttpCode" style="width: 100%;" pInputText type="number" 
                    data-field-name="httpCode" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'httpCode', '==')" 
                    placeholder="HTTP Code Search" />
            </th>
            <th>
                <input #filterElements id="filteractn" inputId="filteractn" style="width: 100%;" pInputText type="number" 
                    data-field-name="actn" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'actn', '==')" 
                    placeholder="Log Action Search" />
            </th>
            <th style="width:100%;"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-appCods let-rowIndex="rowIndex">
        <tr [pSelectableRow]="appCods" [pSelectableRowIndex]="rowIndex" (dblclick)="editRecord(appCods)">
                    <td class="bigText ">{{ appCods.lng  }}</td>
                    <td class="bigText primaryColumn">{{ appCods.code  }}</td>
                    <td class="bigText ">{{ appCods.titl  }}</td>
                    <td class="bigText ">{{ appCods.msg  }}</td>
                    <td class="bigText ">{{ appCods.httpCode | number:'1.0-2' }}</td>
                    <td class="bigText ">{{ appCods.actn | number:'1.0-2' }}</td>
            <td>
                <button *ngIf="(showActionButton('read') && !showActionButton('update'))" pButton pripple type="button" icon="pi pi-eye" title="View record" (click)="editRecord(appCods)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('update')" pButton pripple type="button" icon="pi pi-pencil" title="Edit record" (click)="editRecord(appCods)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('delete')" pButton pripple type="button" icon="pi pi-times" title="Delete record" (click)="deleteRecord(appCods)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100">No AppCods found.</td>
        </tr>
    </ng-template>
</p-table>
</form>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW || _selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE || _selectedMenuId === adminToolbar.AdminToolbarCommands.DELETE" [header]="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW?'New Record':_selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE?'Edit Record':'Delete Record'">
        <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
        <form [formGroup]="formGroup" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
                
                    <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="lng" class="p-col-fixed required" style="width:120px">Language</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="appCodsEditViewData.value.lng"
                            id="lng" inputId="lng" formControlName="lng" 
                            class="form-control" aria-describedby="lng-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('lng').valid) || (formGroup.get('lng').touched && !formGroup.get('lng').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="code" class="p-col-fixed required" style="width:120px">App Code</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="appCodsEditViewData.value.code"
                            id="code" inputId="code" formControlName="code" 
                            class="form-control" aria-describedby="code-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('code').valid) || (formGroup.get('code').touched && !formGroup.get('code').valid)}"/>
                        </div>
                    </div>
				
                    <div class="p-field p-grid">
                        <label for="titl" class="p-col-fixed required" style="width:120px">Title</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="appCodsEditViewData.value.titl"
                            id="titl" inputId="titl" formControlName="titl" 
                            class="form-control" aria-describedby="titl-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('titl').valid) || (formGroup.get('titl').touched && !formGroup.get('titl').valid)}"/>
                        </div>
                    </div>
                        </div>
                        <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="msg" class="p-col-fixed required" style="width:120px">Message</label>
                        <div class="p-col">
                            <input [readonly]="_readOnly" type="text" pInputText required [(ngModel)]="appCodsEditViewData.value.msg"
                            id="msg" inputId="msg" formControlName="msg" 
                            class="form-control" aria-describedby="msg-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('msg').valid) || (formGroup.get('msg').touched && !formGroup.get('msg').valid)}"/>
                        </div>
                    </div>
				
                <div class="p-field p-grid">
                    <label for="httpCode" class="p-col-fixed required" style="width:120px">HTTP Code</label>
                    <div class="p-col">
                        <p-inputNumber [readonly]="_readOnly" required [(ngModel)]="appCodsEditViewData.value.httpCode"
                            id="httpCode" inputId="httpCode" formControlName="httpCode" 
                            [minFractionDigits]="0" [maxFractionDigits]="0"
                            class="form-control" aria-describedby="httpCode-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('httpCode').valid) || (formGroup.get('httpCode').touched && !formGroup.get('httpCode').valid)}"></p-inputNumber>
                    </div>
                </div>
				
                <div class="p-field p-grid">
                    <label for="actn" class="p-col-fixed required" style="width:120px">Log Action</label>
                    <div class="p-col">
                        <p-inputNumber [readonly]="_readOnly" required [(ngModel)]="appCodsEditViewData.value.actn"
                            id="actn" inputId="actn" formControlName="actn" 
                            [minFractionDigits]="0" [maxFractionDigits]="0"
                            class="form-control" aria-describedby="actn-help"
                            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !formGroup.get('actn').valid) || (formGroup.get('actn').touched && !formGroup.get('actn').valid)}"></p-inputNumber>
                    </div>
                </div>
                        </div>
                    </div>
                
              
                <div style="width: 100%;text-align: right;">
                    <div>
                      <p-button label="Close" icon="pi pi-times" styleClass="p-button-secondary"
                      [style]="{'margin-left': '.5em'}" (click)="close()"></p-button>
                      <p-button *ngIf="showActionButton(submitLabel)" type="submit" label="{{submitLabel}}" icon="pi pi-check" [disabled]="_readOnly || submitted || !myForm.valid" [ngClass]="{ 'p-button-danger':(_selectedMenuId === 'delete'), 'p-button-primary':(_selectedMenuId !== 'delete') }"></p-button>
                    </div>
                </div>

          </form>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.UPLOAD" header="Upload Data">
    <app-bulk-upload 
    [templateFormat]="initializationValue" 
    [fileNamePrefix]="fileNamePrefix"
    (onUploadSubmit)="onUploadSubmitClick($event)"></app-bulk-upload>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.DOWNLOAD" header="Download Data">
    <p-button type="button" (click)="downloadData($event, 'JSON')">Download JSON</p-button>
</p-panel>

<div *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST">
    <br/><br/><br/>
    Help:
    <ol>
        <li>Using filters to retrieve desired records is the best approach.</li>
        <li>After entering filter value, press Enter key to apply filter.</li>
        <li>Filtering on single field may not return all/accurate results because of Firebase limitations.</li>
        <li>By default the system give 5 records. Click on more... link to retrieve another set of records.</li>
        <li>"more..." records will be appended to existing data.</li>
        <li>Except the Administrator, other users can only view users of same or higher roles.</li>
        <li>If data is filtered on partial search field, it will be included as first column in sort order to comply with firebase. </li>
    </ol>
</div>