<div class="pageTitle p-component">
    <h1>Carts Administration</h1>
</div>

<app-admintoolbar #adminToolbar 
    [selectedMenuId]="_selectedMenuId" 
    [activeSortCount]="_activeSortCount"
    [activeFiltersCount]="_activeFiltersCount"
    (onAdminMenuClick)="onAdminMenuClick($event)" ></app-admintoolbar>
<form>
    <!-- [lazy] and (onLazyLoad) event is not used as it triggers server call on each page change -->
<p-table  *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST" #tblCarts [value]="cartsListViewData.value" 
    dataKey="id" [lazy]="false" [(selection)]="selectedRecord"
    [filterDelay]="500" [rows]="rowsPerPage" [totalRecords]="totalRows" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" paginatorPosition="both" selectionMode="single"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" 
    (onRowSelect)="onListRowSelect($event)" (onRowUnselect)="onListRowUnselect($event)"
    (onSort)="onSortChange($event)" (onPage)="onPageChange($event)">

    <ng-template pTemplate="paginatorleft">
        <span class="gridCaption" style="left: 15px;">List of Carts</span>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" label="more..." title="There could be more records.  Click here to retrieve." (click)="more()" styleClass="p-button-text"></p-button>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <!-- Column headings -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;" pSortableColumn="carts.customerId">Customer ID<p-sortIcon field="carts.customerId"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="carts.customerName">Customer Name<p-sortIcon field="carts.customerName"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="carts.productId">Product ID<p-sortIcon field="carts.productId"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="carts.productName">Product Name<p-sortIcon field="carts.productName"></p-sortIcon></th>
            <th style="width:100%;">Action</th>
        </tr>

        <tr *ngIf="_filterVisible">
            <!-- Column filters -->
            <!-- width:100%; makes all the columns equal width -->
            <th>
                <input #filterElements id="filtercustomerId" inputId="filtercustomerId" style="width: 100%;" pInputText type="text" data-field-name="customerId" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'customerId', '==')" placeholder="Customer ID Search" />
            </th>
            <th>
                <input #filterElements id="filtercustomerName" inputId="filtercustomerName" style="width: 100%;" pInputText type="text" data-field-name="customerName" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'customerName', '==')" placeholder="Customer Name Search" />
            </th>
            <th>
                <input #filterElements id="filterproductId" inputId="filterproductId" style="width: 100%;" pInputText type="text" data-field-name="productId" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'productId', '==')" placeholder="Product ID Search" />
            </th>
            <th>
                <input #filterElements id="filterproductName" inputId="filterproductName" style="width: 100%;" pInputText type="text" data-field-name="productName" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'productName', '==')" placeholder="Product Name Search" />
            </th>
            <th style="width:100%;"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-carts let-rowIndex="rowIndex">
        <tr [pSelectableRow]="carts" [pSelectableRowIndex]="rowIndex" (dblclick)="editRecord(carts)">
                    <td class="bigText ">{{ carts.customerId  }}</td>
                    <td class="bigText ">{{ carts.customerName  }}</td>
                    <td class="bigText ">{{ carts.productId  }}</td>
                    <td class="bigText ">{{ carts.productName  }}</td>
            <td>
                <button *ngIf="(showActionButton('read') && !showActionButton('update'))" pButton pripple type="button" icon="pi pi-eye" title="View record" (click)="editRecord(carts)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('update')" pButton pripple type="button" icon="pi pi-pencil" title="Edit record" (click)="editRecord(carts)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showActionButton('delete')" pButton pripple type="button" icon="pi pi-times" title="Delete record" (click)="deleteRecord(carts)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100">No Carts found.</td>
        </tr>
    </ng-template>
</p-table>
</form>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW || _selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE || _selectedMenuId === adminToolbar.AdminToolbarCommands.DELETE" [header]="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW?'New Record':_selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE?'Edit Record':'Delete Record'">
        <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
        <form [formGroup]="formGroup" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
                
                    <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="customerName" class="p-col-fixed " style="width:120px">Customer Name</label>
                        <div class="p-col">
                        <!-- TODO: Selecting an option in dropdown and pressing enter is not actually registering the value.  Find a way to fix the issue. -->
                        <p-autoComplete type="text" required type="text" forceSelection="true" 
                            id="customerName" inputId="customerName" formControlName="customerName" 
                            field="customerName" dataKey="customerName"
                            [ngModel]="cartsEditViewData.value" [suggestions]="usersIdDisplayNameData"
                            class="form-control" aria-describedby="customerName-help"
                            [ngClass]="{'ng-dirty invalidControlBG':
                                    (myForm.submitted && !formGroup.get('customerName').valid) || 
                                    (formGroup.get('customerName').touched && 
                                    !formGroup.get('customerName').valid)}"
                            (completeMethod)="getUsersIdDisplayName($event)" [minLength]="1"></p-autoComplete>
                        </div>
                    </div>
                        </div>
                        <div class="p-field p-col">
                            
				
                    <div class="p-field p-grid">
                        <label for="productName" class="p-col-fixed " style="width:120px">Product Name</label>
                        <div class="p-col">
                        <!-- TODO: Selecting an option in dropdown and pressing enter is not actually registering the value.  Find a way to fix the issue. -->
                        <p-autoComplete type="text" required type="text" forceSelection="true" 
                            id="productName" inputId="productName" formControlName="productName" 
                            field="productName" dataKey="productName"
                            [ngModel]="cartsEditViewData.value" [suggestions]="productsIdNameData"
                            class="form-control" aria-describedby="productName-help"
                            [ngClass]="{'ng-dirty invalidControlBG':
                                    (myForm.submitted && !formGroup.get('productName').valid) || 
                                    (formGroup.get('productName').touched && 
                                    !formGroup.get('productName').valid)}"
                            (completeMethod)="getProductsIdName($event)" [minLength]="1"></p-autoComplete>
                        </div>
                    </div>
                        </div>
                    </div>
                
              
                <div style="width: 100%;text-align: right;">
                    <div>
                      <p-button label="Close" icon="pi pi-times" styleClass="p-button-secondary"
                      [style]="{'margin-left': '.5em'}" (click)="close()"></p-button>
                      <p-button *ngIf="showActionButton(submitLabel)" type="submit" label="{{submitLabel}}" icon="pi pi-check" [disabled]="_readOnly || submitted || !myForm.valid" [ngClass]="{ 'p-button-danger':(_selectedMenuId === 'delete'), 'p-button-primary':(_selectedMenuId !== 'delete') }"></p-button>
                    </div>
                </div>

          </form>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.UPLOAD" header="Upload Data">
    <app-bulk-upload 
    [templateFormat]="initializationValue" 
    [fileNamePrefix]="fileNamePrefix"
    (onUploadSubmit)="onUploadSubmitClick($event)"></app-bulk-upload>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.DOWNLOAD" header="Download Data">
    <p-button type="button" (click)="downloadData($event, 'JSON')">Download JSON</p-button>
</p-panel>

<div *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST">
    <br/><br/><br/>
    Help:
    <ol>
        <li>Using filters to retrieve desired records is the best approach.</li>
        <li>After entering filter value, press Enter key to apply filter.</li>
        <li>Filtering on single field may not return all/accurate results because of Firebase limitations.</li>
        <li>By default the system give 5 records. Click on more... link to retrieve another set of records.</li>
        <li>"more..." records will be appended to existing data.</li>
        <li>Except the Administrator, other users can only view users of same or higher roles.</li>
        <li>If data is filtered on partial search field, it will be included as first column in sort order to comply with firebase. </li>
    </ol>
</div>