<p-menubar #adminToolbar styleClass="adminToolbar" [model]="items" (click)="onAdminMenuClicked($event)">
    <ng-template pTemplate="start">
    </ng-template>
    <ng-template pTemplate="end">
        <button *ngIf="selectedMenuId === AdminToolbarCommands.LIST"
            class="p-button-rounded p-button-raised p-button-secondary p-button-outlined p-ripple p-button p-component p-button-icon-only"
            pbutton="" pripple="" type="button" id="clearSort">
            <span class="p-button-icon pi pi-sort-alt" aria-hidden="true"></span>
            <span aria-hidden="true" class="p-button-label">&amp;nbsp;</span>
            <span class="p-ink" style="height: 33px; width: 33px; top: 7.125px; left: -6.42499px;"></span>
            <span style="position: absolute;top:-0px" class="p-badge p-badge-warning ng-star-inserted">{{activeSortCount}}</span>
        </button>
        <button *ngIf="selectedMenuId === AdminToolbarCommands.LIST"
        class="p-button-rounded p-button-raised p-button-secondary p-button-outlined p-ripple p-button p-component p-button-icon-only"
        pbutton="" pripple="" type="button" id="clearFilter">
        <span class="p-button-icon pi pi-filter" aria-hidden="true"></span>
        <span aria-hidden="true" class="p-button-label">&amp;nbsp;</span>
        <span class="p-ink" style="height: 33px; width: 33px; top: 7.125px; left: -6.42499px;"></span>
        <span style="position: absolute;top:-0px" class="p-badge p-badge-warning ng-star-inserted">{{activeFiltersCount}}</span>
    </button>
    </ng-template>
</p-menubar>