<div class="vCenteredWrapper">

  <p-card header="Logged Out" subheader="You have been logged out successfully" styleClass="p-card-shadow vCenteredBody"
    [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">

    <p align="center">
      <button pButton type="button" label="Home" class="p-button-link" [routerLink]="['/welcome']"></button>
      <button pButton type="button" label="Login" class="p-button-link" [routerLink]="['/auth/login']"></button>
    </p>

  </p-card>
</div>