<div class="pageTitle p-component">
    <h1>Application Configuration Administration</h1>
</div>

<app-admintoolbar #adminToolbar 
    [selectedMenuId]="_selectedMenuId" 
    [activeSortCount]="_activeSortCount"
    [activeFiltersCount]="_activeFiltersCount"
    (onAdminMenuClick)="onAdminMenuClick($event)" ></app-admintoolbar>
<form>
    <!-- [lazy] and (onLazyLoad) event is not used as it triggers server call on each page change -->
<p-table  *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST" #dtAppConf [value]="appConfListViewData.value" 
    dataKey="id" [lazy]="false" [(selection)]="selectedRecord"
    [filterDelay]="500" [rows]="rowsPerPage" [totalRecords]="totalRows" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" paginatorPosition="both" selectionMode="single"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" 
    (onRowSelect)="onListRowSelect($event)" (onRowUnselect)="onListRowUnselect($event)"
    (onSort)="onSortChange($event)" (onPage)="onPageChange($event)">

    <ng-template pTemplate="paginatorleft">
        <span class="gridCaption" style="left: 15px;">List of AppConf</span>
    </ng-template>

    <ng-template pTemplate="paginatorright">
        <p-button type="button" label="more..." title="There could be more records.  Click here to retrieve." (click)="more()" styleClass="p-button-text"></p-button>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <!-- Column headings -->
            <!-- width:100%; makes all the columns equal width -->
            <th style="width:100%;" pSortableColumn="appConf.lbl">Label<p-sortIcon field="appConf.lbl"></p-sortIcon></th>
            <th style="width:100%;" pSortableColumn="appConf.lng">Language<p-sortIcon field="appConf.lng"></p-sortIcon></th>
            <th style="width:100%;">Action</th>
        </tr>

        <tr *ngIf="_filterVisible">
            <!-- Column filters -->
            <!-- width:100%; makes all the columns equal width -->
            <th>
                <input #filterElements id="filterlbl" inputId="filterlbl" style="width: 100%;" pInputText type="text" data-field-name="lbl" data-where-operator=">=" (keyup.enter)="onFilterChange($event.target.value, 'lbl', '>=')" placeholder="Label Search" />
            </th>
            <th>
                <input #filterElements id="filterlng" inputId="filterlng" style="width: 100%;" pInputText type="text" data-field-name="lng" data-where-operator="==" (keyup.enter)="onFilterChange($event.target.value, 'lng', '==')" placeholder="Language Search" />
            </th>
            <th style="width:100%;"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-appConf let-rowIndex="rowIndex">
        <tr [pSelectableRow]="appConf" [pSelectableRowIndex]="rowIndex" (dblclick)="editRecord(appConf)">
                    <td class="bigText primaryColumn">{{appConf.lbl}}</td>
                    <td class="bigText ">{{appConf.lng}}</td>
            <td>
                <button *ngIf="!showEdit(appConf)" pButton pripple type="button" icon="pi pi-eye" title="View record" (click)="editRecord(appConf)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showEdit(appConf)" pButton pripple type="button" icon="pi pi-pencil" title="Edit record" (click)="editRecord(appConf)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-secondary"></button>
                <button *ngIf="showDelete(appConf)" pButton pripple type="button" icon="pi pi-times" title="Delete record" (click)="deleteRecord(appConf)" class="p-button-rounded p-button-text p-ripple p-button p-component p-button-icon-only p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100">No AppConf found.</td>
        </tr>
    </ng-template>
</p-table>
</form>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW || _selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE || _selectedMenuId === adminToolbar.AdminToolbarCommands.DELETE" [header]="_selectedMenuId === adminToolbar.AdminToolbarCommands.NEW?'New Record':_selectedMenuId === adminToolbar.AdminToolbarCommands.UPDATE?'Edit Record':'Delete Record'">
    <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
    <form [formGroup]="formGroup" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
        <!-- JSON Editor -->
        <!-- Do not change the sequence of the parameters as it makes a difference. 
            Need the editMode before receiving the other parameters -->
        <app-json-editor
            [editMode]="_selectedMenuId"
            [jsonDataSchema]="jsonDataSchema"
            [jsonData]="appConfEditViewData.value"
            (onJSONUpdateEmitter)="onJSONUpdateClick($event)">
    </app-json-editor>
    </form>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.UPLOAD" header="Upload Data">
    <app-bulk-upload 
    [templateFormat]="initializationValue" 
    [fileNamePrefix]="fileNamePrefix"
    (onUploadSubmit)="onUploadSubmitClick($event)"></app-bulk-upload>
</p-panel>

<p-panel *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.DOWNLOAD" header="Download Data">
    <p-button type="button" (click)="downloadData($event, 'JSON')">Download JSON</p-button>
</p-panel>

<div *ngIf="_selectedMenuId === adminToolbar.AdminToolbarCommands.LIST">
    <br/><br/><br/>
    Help:
    <ol>
        <li>Using filters to retrieve desired records is the best approach.</li>
        <li>After entering filter value, press Enter key to apply filter.</li>
        <li>Filtering on single field may not return all/accurate results because of Firebase limitations.</li>
        <li>By default the system give 5 records. Click on more... link to retrieve another set of records.</li>
        <li>"more..." records will be appended to existing data.</li>
        <li>Except the Administrator, other users can only view users of same or higher roles.</li>
    </ol>
</div>