<style>
    .p-button {
        padding: 5px !important;
    }

    .checkmark {
        text-align: center;
    }

    .legendIcon {
        display: inline-block;
        margin-left: 20px;
    }

    .legendLabel {
        display: inline-block;
        margin-left: 5px;
    }

    #tblHTTPTraffic th {
        text-align: center;
    }
</style>
<div class="pageTitle p-component" style="margin-bottom: 20px;">
    <h1>App Monitors</h1>
    <small class="p-component">This page is to help developers to understand and test various underlying features of
        the application. It is recommended not to upload this page to production environment.</small>
</div>

<div class="p-grid appMonitor">

    <div class="p-col-12 p-md-6 p-lg-7">

        <p-table #tblHTTPTraffic id="tblHTTPTraffic" styleClass="p-datatable-striped" [value]="appData.httpTrafficData"
            [columns]="trafficTableCols" [first]="0" [rows]="5" [rowsPerPageOptions]="[5,10,25,50,100]"
            [filterDelay]="0" [paginator]="true" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" sortMode="single" sortField="index"
            sortOrder="-1" defaultSortOrder="1" resetPageOnSort="true" [scrollable]="false" [responsive]="true"
            dataKey="requestId" autoLayout="true" [exportFilename]="fileName.getValue()"
            [exportFunction]="formatExportData" csvSeparator=",">
            <ng-template pTemplate="caption">
                <div style="display: inline-block;margin-bottom: 10px;" class="table-header">Traffic Monitor</div>

                <div style="float:right;margin-bottom: 5px;">
                    <button pButton type="button" label=" " (click)="(trafficShowMore = !trafficShowMore)">
                        {{trafficShowMore?"Show Less":"Show More"}}</button>
                </div>

                <p-table>
                    <ng-template pTemplate="emptymessage">
                        <tr style="background-color:whitesmoke;">
                            <td>
                                <div style="display: block;margin-bottom: 10px;" class="appMonitorParam">Regular
                                    Requests ({{appData.regularRequestCount}})
                                    <span *ngIf="appData.regularRequestCount > 0"> In Progress</span>
                                </div>
                                <button pButton title="Send a regular request that will return after 1 second."
                                    type="button" label="Send Request" [style]="{'margin-left':'10px', 'float':'right'}"
                                    (click)="sendRegularRequest()"></button>
                            </td>
                            <td style="vertical-align: top;">
                                <div style="display: block;margin-bottom: 10px;" class="appMonitorParam">Priority
                                    Requests ({{appData.priorityRequestCount}})
                                    <span *ngIf="appData.priorityRequestCount > 0"> In Progress</span>
                                </div>
                            </td>
                        </tr>


                        <!-- Help -->
                        <tr *ngIf="trafficShowMore" style="background-color:whitesmoke;">
                            <td>
                                <div style="margin-bottom: 10px;">
                                    <ol class="slimList">
                                        <li>Requests generated by user activity is considered as regular requests.</li>
                                        <li>Regular requests are put on hold while Priority requests are in progress.</li>
                                        <li>Pending requests are cancelled by default.</li>
                                        <li>Notification is shown when response is received. It can be supressed using 'notification' parameter when you call http.service methods.</li>
                                        <li>Loading animation is shown when a regular request is in progress.</li>
                                    </ol>
                                </div>
                            </td>
                            <td style="vertical-align: top;">
                                <div style="margin-bottom: 10px;">
                                    <ol class="slimList">
                                        <li>Token renewal request is considered as Priority Request.</li>
                                        <li>Priority requests cannot be cancelled.</li>
                                        <li>Notification and Loading animation are NOT shown for
                                            priority requests as they without user interaction.</li>
                                    </ol>
                                </div>
                            </td>
                        </tr>

                        <!-- Priority request status -->
                        <tr style="background-color:whitesmoke;">
                            <td colspan=2>
                                Priority Request In Progress:
                                <div style="display: inline-block;margin-top: 5px;">
                                    <span *ngIf="appData.priorityRequestCount === 0">NO</span>
                                    <span *ngIf="appData.priorityRequestCount > 0" class="p-error">YES (regular requests
                                        will be on hold.)</span>
                                </div>
                            </td>
                        </tr>

                        <!-- legend -->
                        <tr *ngIf="trafficShowMore" style="background-color:whitesmoke;">
                            <td colspan="2">

                                <ol class="rowList" style="display: inline-block;">
                                    <li>Request: </li>
                                    <li>
                                        <div class="legendIcon" pTooltip="Pending request"><i
                                                class="pi pi-spin pi-spinner" style="font-size: 1em;"></i></div>
                                        <div class="legendLabel">Pending</div>
                                    </li>
                                    <li>
                                        <div class="legendIcon" pTooltip="response received"><i class="pi pi-check"
                                                style="color:green"></i></div>
                                        <div class="legendLabel">Received</div>
                                    </li>
                                    <li>
                                        <div class="legendIcon"><i class="pi pi-bell"
                                                pTooltip="Successful Regular Requests are identified with notification symbol in the grid."
                                                style="color:green;float:right;display:contents"></i></div>
                                        <div class="legendLabel">Notification</div>
                                    </li>
                                    <li>
                                        <div class="legendIcon" pTooltip="Requests without notification"><i
                                                class="pi pi-eye-slash"></i></div>
                                        <div class="legendLabel">Without notification</div>
                                    </li>
                                    <li>
                                        <div class="legendIcon" pTooltip="request is cancelled"><i class="pi pi-times"
                                                style="color:red"></i></div>
                                        <div class="legendLabel">Cancelled</div>
                                    </li>
                                </ol>
                            </td>
                        </tr>


                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'index'" style="width: 10px;"># <p-sortIcon [field]="'index'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'status'" style="width: 100px;">Status <p-sortIcon [field]="'status'">
                        </p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'url'">URL <p-sortIcon [field]="'url'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'sentAt'" style="width: 250px;">Time <p-sortIcon [field]="'sentAt'">
                        </p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <p-multiSelect appendTo="body" [options]="httpRequestStates"
                            [(ngModel)]="selectedHTTPRequestStates"
                            (onChange)="tblHTTPTraffic.filter($event.value, 'requestId', 'requestStatus'); activeFiltersCount.next(getActiveFilterCount())"
                            optionLabel="label">
                            <ng-template let-option pTemplate="item">
                                <div>
                                    <i *ngIf="option.value.status===0" class="pi pi-spin pi-spinner"
                                        style="font-size: 1em;"></i>
                                    <i *ngIf="option.value.status===1" class="pi pi-check" style="font-size: 1em;"></i>
                                    <i *ngIf="option.value.status===2" class="pi pi-times" style="font-size: 1em;"></i>
                                    <i *ngIf="option.value.status===3" class="pi pi-eye-slash"
                                        style="font-size: 1em;"></i>
                                    <i *ngIf="option.value.status===4" class="pi pi-bell" style="font-size: 1em;"></i>
                                    <span class="p-ml-1">{{option.label}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </th>
                    <th>
                        <input pInputText type="text" [(ngModel)]="txtURLFilter"
                            (input)="tblHTTPTraffic.filter($event.target.value, 'url', 'requestURL'); activeFiltersCount.next(getActiveFilterCount())"
                            placeholder="Search by URL" class="p-column-filter">
                    </th>
                    <th>
                        <p-calendar [readonlyInput]="true" [(ngModel)]="filterFromDate" appendTo="body" dateFormat=" "
                            showTime="true" hourFormat="12" [numberOfMonths]="0" [maxDate]="filterToDate"
                            (onSelect)="tblHTTPTraffic.filter([filterFromDate,filterToDate], 'sentAt', 'dateRangeFilter'); activeFiltersCount.next(getActiveFilterCount())"
                            [style]="{'width':'95px', 'margin-right':'8px'}"></p-calendar>
                        <p-calendar [readonlyInput]="true" [(ngModel)]="filterToDate" appendTo="body" dateFormat=" "
                            showTime="true" hourFormat="12" [numberOfMonths]="0" [minDate]="filterFromDate"
                            (onSelect)="tblHTTPTraffic.filter([filterFromDate,filterToDate], 'sentAt', 'dateRangeFilter'); activeFiltersCount.next(getActiveFilterCount())"
                            [style]="{'width':'95px'}"></p-calendar>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-request>
                <tr>
                    <td>{{request.index}}</td>
                    <td style="width: 100px;">
                        <div class="checkmark" pTooltip="request is in pending"
                            *ngIf="request | httpTrafficFilterPipe:0"><i class="pi pi-spin pi-spinner"
                                style="font-size: 1em;"></i></div>
                        <div class="checkmark" pTooltip="response received" *ngIf="request | httpTrafficFilterPipe:1"><i
                                class="pi pi-check" style="color:green"></i></div>
                        <div class="checkmark" pTooltip="request is cancelled"
                            *ngIf="request | httpTrafficFilterPipe:2"><i class="pi pi-times" style="color:red"></i>
                        </div>
                        <div class="checkmark" pTooltip="Hidden request. Notification is NOT shown."
                            *ngIf="request | httpTrafficFilterPipe:3"><i class="pi pi-eye-slash"
                                style="float:right;display:contents"></i></div>
                        <div class="checkmark" pTooltip="notification is shown"
                            *ngIf="request | httpTrafficFilterPipe:4"><i class="pi pi-bell"
                                style="color:green;float:right;display:contents"></i></div>
                    </td>
                    <td style="width: 300px;">
                        <div>
                            <small title="HTTP method">{{request.method}} </small> <a title="Request endpoint"
                                href="{{request.url}}">{{trimURL(request.url)}}</a><br />
                            <small title="Unique requestId" style="white-space: nowrap;">{{request.requestId}}</small>
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <span style="margin-right: 20px;" title="{{request.sentAt | date:'full'}}">Sent at:
                            {{request.sentAt | date:'longTime'}}</span>
                        <span title="Received at: {{request.receivedAt | date:'full'}}" style="display: block;"
                            *ngIf="request.receivedAt > 0">Took: {{(request.receivedAt - request.sentAt)/1000}}
                            sec.</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
                &nbsp;
                <button (click)="showDownloadOptions($event);" title="Download Options"
                    [style]="{'margin-left':'14px;'}"
                    class="p-button-rounded p-button-raised p-button-secondary p-button-outlined p-ripple p-button p-component p-button-icon-only"
                    icon="pi pi-download" pbutton="" pripple="" type="button">
                    <span class="p-button-icon pi pi-download" aria-hidden="true"></span>
                    <span aria-hidden="true" class="p-button-label">&amp;nbsp;</span>
                    <span class="p-ink" style="height: 33px; width: 33px; top: 7.125px; left: -6.42499px;"></span>
                </button>
                <p-listbox *ngIf="_showDownloadOptions" [style]="{'position':'absolute'}" [options]="downloadOptions"
                    (onChange)="downloadData($event)">
                    <ng-template let-option pTemplate="item">
                        <div>
                            <span><i class="pi {{option.value.icon}}"></i> {{option.label}}</span>
                        </div>
                    </ng-template>
                </p-listbox>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <button (click)="clearGrid()" [disabled]="appData.httpTrafficData.length===0"
                    title="{{appData.httpTrafficData.length>0?'Click to clear rows.':'No rows to clear.'}}"
                    class="p-button-rounded p-button-raised p-button-secondary p-button-outlined p-ripple p-button p-component p-button-icon-only"
                    icon="pi pi-trash" pbutton="" pripple="" type="button">
                    <span class="p-button-icon pi pi-trash" aria-hidden="true"></span>
                    <span aria-hidden="true" class="p-button-label">&amp;nbsp;</span>
                    <span class="p-ink" style="height: 33px; width: 33px; top: 7.125px; left: -6.42499px;"></span>
                    <span *ngIf="appData.httpTrafficData.length>0" title="{{appData.httpTrafficData.length}} rows."
                        style="position: absolute;top:-0px"
                        class="p-badge p-badge-warning ng-star-inserted">{{appData.httpTrafficData.length}}</span>
                </button>
                <button (click)="clearSort()"
                    [disabled]="!tblHTTPTraffic.sortField || (tblHTTPTraffic.sortField==='index' && tblHTTPTraffic.sortOrder.toString() === '-1') "
                    title="{{(tblHTTPTraffic.sortField==='index' && tblHTTPTraffic.sortOrder.toString() === '-1')?'Resets to default sort.':'Click to default sort.'}}"
                    class="p-button-rounded p-button-raised p-button-secondary p-button-outlined p-ripple p-button p-component p-button-icon-only"
                    icon="pi pi-sort" pbutton="" pripple="" type="button">
                    <span class="p-button-icon pi pi-sort-alt" aria-hidden="true"></span>
                    <span aria-hidden="true" class="p-button-label">&amp;nbsp;</span>
                    <span class="p-ink" style="height: 33px; width: 33px; top: 7.125px; left: -6.42499px;"></span>
                    <span
                        *ngIf="(tblHTTPTraffic.sortField && tblHTTPTraffic.sortField !== 'index') || ( tblHTTPTraffic.sortField === 'index' && tblHTTPTraffic.sortOrder.toString() === '1') "
                        title="Currently sorted as '{{activeSortField}}'. Click here to default."
                        style="position: absolute;top:-0px" class="p-badge p-badge-warning ng-star-inserted">1</span>
                </button>
                <button (click)="clearFilter();" [disabled]="activeFiltersCount.getValue()===0"
                    title="{{activeFiltersCount.getValue()>0?'Click to clear filters.':'No filters to clear.'}}"
                    class="p-button-rounded p-button-raised p-button-secondary p-button-outlined p-ripple p-button p-component p-button-icon-only"
                    icon="pi pi-filter" pbutton="" pripple="" type="button">
                    <span class="p-button-icon pi pi-filter" aria-hidden="true"></span>
                    <span aria-hidden="true" class="p-button-label" badge="8">&amp;nbsp;</span>
                    <span badge="8" class="p-ink"
                        style="height: 33px; width: 33px; top: 7.125px; left: -6.42499px;"></span>
                    <span *ngIf="activeFiltersCount.getValue()>0"
                        title="{{activeFiltersCount.getValue()}} active filters." style="position: absolute;top:-0px"
                        class="p-badge p-badge-warning ng-star-inserted">{{activeFiltersCount.getValue()}}</span>
                </button>
            </ng-template>
        </p-table>
    </div>

    <div class="p-col-12 p-md-6 p-lg-5">
        <p-table>
            <ng-template pTemplate="caption">
                <div class="table-header">
                    Timers Monitor
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 150px;">Timer</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td style="width: 150px;vertical-align: top;">
                        <span pTooltip="A timer to end session due to user inactivity." class="appMonitorParam">
                            User Inactivity
                        </span>
                    </td>
                    <td>
                        <div class="timerGrid" style="position: relative;">
                            <p-progressBar [value]="elapsedSessionPercent"
                                [ngClass]="{'warningBGColor':(remainingSessionTime <= appData.countdownThreshold)}">
                            </p-progressBar>
                            <div pTooltip="Warning message is shown when timer reaches {{appData.countdownThreshold}} sec countdown threshold."
                                [ngStyle]="{'position':'absolute', 'top':'3.5px', 'left': (sessionWarningIconPosition - 2.5)+'%','z-index':'999'}">
                                <i style="color:black;" class="pi pi-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div style="float: left;width: 20%;text-align: left;" pTooltip="Timer start point.">00:00:00
                            <small style="display: block;" class="p-component">start</small></div>
                        <div style="float: left;width: 60%;text-align: center;" pTooltip="Inactivity duration.">
                            {{seconds2HHMMSS(inactiveDuration)}}
                            <small style="display: block;" class="p-component">elapsed</small></div>
                        <div style="float: left;width: 20%;text-align: right;"
                            pTooltip="Session ends when elapsed time reaches this threshold.">
                            {{seconds2HHMMSS(appData.inactivityThreshold)}}
                            <small style="display: block;" class="p-component">end</small></div>
                        <span style="clear: left;"></span>

                    </td>
                </tr>
                <tr>
                    <td style="width: 150px;vertical-align: top;">
                        <span pTooltip="A timer to renew token {{appData.tokenRenewThreshold}} sec before it expires."
                            class="appMonitorParam">
                            Token Renewal
                        </span>
                    </td>
                    <td>
                        <div class="timerGrid" style="position: relative;">
                            <p-progressBar [value]="elapsedTokenPercent"
                                [ngClass]="{'warningBGColor':(remainingTokenTime <= appData.tokenRenewThreshold)}">
                            </p-progressBar>
                            <div pTooltip="Token will be renewed when timer reaches the {{appData.tokenRenewThreshold}} sec renew threshold."
                                [ngStyle]="{'position':'absolute', 'top':'3.5px', 'left': (tokenWarningIconPosition - 2.5)+'%','z-index':'999'}">
                                <i style="color:black;" class="pi pi-refresh"></i>
                            </div>
                        </div>

                        <div style="float: left;width: 20%;text-align: left;"
                            pTooltip="Timer start point. (Token iat {{auth.tokenIatTime}})">00:00:00
                            <small style="display: block;" class="p-component">start</small></div>
                        <div style="float: left;width: 60%;text-align: center;" pTooltip="Token elapsed time.">
                            {{seconds2HHMMSS(tokenElapsedTime)}}
                            <small style="display: block;" class="p-component">elapsed</small></div>
                        <div style="float: left;width: 20%;text-align: right;"
                            pTooltip="Token expires when elapsed time reaches this threshold.  (Token exp {{auth.tokenExpTime}})">
                            {{seconds2HHMMSS(auth.tokenLifespan)}}
                            <small style="display: block;" class="p-component">end</small></div>
                        <span style="clear: left;"></span>

                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div style="margin-top: 10px;" class="p-component">
            <i class="pi pi-info-circle"></i> hover on label to see more
            information.<br />
            <br />
            Active Token: <div style="overflow-wrap: break-word;font-size: 10px;">{{auth.token}}</div>
        </div>
    </div>

</div>