<div class="p-grid">
    <div class="p-col-2" style="border-right: 2px solid black;">
        <p-menu [model]="items" [style]="{'width':'100%'}"></p-menu>
    </div>
    <div class="p-col-10">
        <div class="workarea">
            <router-outlet></router-outlet>
        </div>        
    </div>
</div>