<div class="workarea" style="text-align: center;">

  <div class="p-component" style="margin: auto 0;">
    <h1>DASHBOARD</h1>
    <h4>Welcome to sample dashboard</h4>
  </div>

  <ul style="list-style-type: none;display: inline-flex;">
    <li style="margin:20px;">
      <p-card header="Widget 1" subheader="Activity" styleClass="p-card-shadow"
      [style]="{'width': '15rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">
  
      <p-dropdown [options]="dashData.widget.data" [(ngModel)]="selectedBook" optionLabel="name"></p-dropdown>
      
    </p-card>
  
    </li>
    <li style="margin:20px;">
      <p-card header="Widget 2" subheader="Summary" styleClass="p-card-shadow"
      [style]="{'width': '15rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">
  
      <p-dropdown [options]="dashData.widget.data" [(ngModel)]="selectedBook" optionLabel="name"></p-dropdown>

    </p-card>
    </li>
    <li style="margin:20px;">
      <p-card header="Widget 3" subheader="Chart" styleClass="p-card-shadow"
      [style]="{'width': '15rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">
  
      <p-dropdown [options]="dashData.widget.data" [(ngModel)]="selectedBook" optionLabel="name"></p-dropdown>

    </p-card>
    </li>
  </ul>

  <p-button label="Test" icon="pi pi-times" styleClass="p-button-secondary"
              [style]="{'margin-left': '.5em'}" (click)="test()"></p-button>
</div>