Dear <br/><br/>

Thank you for registering with ???.  Please click on the link below to confirm your registration.<br/><br/>

<a href="">CONFIRM REGISTRATION</a><br/><br/>

If the link is not clickable, please copy and paste it in the browser.<br/><br/>

Regards,