<div class="layout-topbar">
    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>
    <img class="logo" src="assets/images/primeng-example-logo.png"/>
    <a href="https://www.primefaces.org/primeng">
        <button pButton type="button" label="Go to PrimeNG" iconPos="right" icon="pi pi-arrow-right" class="topbar-button"></button>
    </a>
</div>