<app-menu></app-menu>
<p-messages *ngIf="inactiveDuration != 0 && remainingSessionTime > 0 && remainingSessionTime <= appData.countdownThreshold" severity="warn" [style]="{'margin-top':'-15px'}" key="session_countdown_message">
    <ng-template pTemplate>
        Your session will be expired in <big [style]="{'margin-left':'5px', 'margin-right':'5px'}">{{remainingSessionTime}}</big> seconds.
    </ng-template>
</p-messages>
<p-messages [style]="{'margin-top':'15px'}" key="top_center_message"></p-messages>
<div>
    <router-outlet></router-outlet>
</div>

<!-- for Notification -->
<p-toast [style]="{'padding-top':'50px'}" key="top_right_toast"></p-toast>

<!-- Loading animator -->
<div class="loadWrapper" *ngIf="appData.loading">
    <div class="loader"></div>  
</div>

<!-- This is for the validation tooltip -->
<p-overlayPanel styleClass="tooltip" #opErrors [showCloseIcon]="false" >
    <ng-template pTemplate>
        <ol>
            <li class="validationErrors" *ngFor="let item of validationMessages; let $i=index">{{item}}</li>
        </ol>
    </ng-template>
</p-overlayPanel>