<div class="topmenu">
    <p-menubar [model]="items" (click)="onMenuClick($event)">
        <div class="logoWrapper">
            <img class="logo" style="width: 70px;" src="../assets/images/logo.png" />
            <span *ngIf="appData?.userName">
            <span style="margin-left: 50px;">{{appData?.userName}}</span> || 
            <span style="margin-left: 5px;">{{appData.userRole?.name}}</span> || 
            <span *ngIf="appData.email && appData.email.length > 0"  style="margin-left: 5px;">{{appData?.email}}</span>
            </span>
        </div>
    </p-menubar>
</div>