body{
  margin: 0px;
}

/* You can add global styles to this file, and also import other style files */
.p-button:not(:first-child) {
  margin-left: .5rem;
}


/* Reduce image size automatically on mobile devices */
img
{
    max-width: 100%;
    height: auto;
}

.topmenu p-menubarsub {
  position: absolute;     /* to make menuitems right aligned */
  right: 10px;               /* to make menuitems right aligned. This value will offset dropdown submenu */
  z-index: 9999;
}

/* Align logo to the right within the top menu bar */
.topmenu .p-menubar .p-menubar-end {
  margin-left: unset !important;
}

.topmenu .p-menubar .p-submenu-list{
  /* position: unset !important; */
  right: -10px !important;  /* This number should be the same as  p-menubarsub.right value above*/
}

/* Remove border around menubar */
.topmenu .p-menubar{
  border:none;
}

.topmenu{
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 8px;
  height: 40px;
}

.workarea{
  margin: 8px;
}

/* Remove left margin for the admin toolbar */
.adminToolbar.p-menubar{
  border:none;
  margin-left: 0px !important;
  padding-left: 0px !important;
}

/* Set colored bottom border for the active admin menu items */
.adminToolbar .adminToolbarMenuSelected{
  border-bottom: 2px solid orange;
}

/* Set white bottom border for the inactive admin menu items */
.adminToolbar .adminToolbarMenuUnselected{
  border-bottom: 2px solid transparent;
}

/* Remove blue border around the focused menu item */
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus{
  box-shadow: inset 0 0 0 0 transparent;
}


/* ------------------------------- */
/* Vertically spreads the div to the height of viewport.  Reduce the already occupied height using calc() */
.vCenteredWrapper{
  height:calc(100vh - 85px);     /* 100vh = viewport height */
  position: relative;
}

.vCenteredBody {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* ------------------------------- */

.p-card-body{
  width: 100%;
}


/* -----------LOADER------------ */
.loadWrapper {  
  position: fixed;
  top:50px;  
  right:30px;  
  z-index: 100;  
}  
.loader,
.loader:before,
.loader:after {
border-radius: 50%;
width: 1.5em;
height: 1.5em;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation: load7 1.5s infinite ease-in-out;
animation: load7 1.5s infinite ease-in-out;
}
.loader {
color:OrangeRed;
font-size: 6px;
margin: 5px auto;
position: relative;
text-indent: -9999em;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}
.loader:before,
.loader:after {
content: '';
position: absolute;
top: 0;
}
.loader:before {
left: -3.5em;
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}
.loader:after {
left: 3.5em;
}
@-webkit-keyframes load7 {
0%,
80%,
100% {
  box-shadow: 0 2.5em 0 -1.3em;
}
40% {
  box-shadow: 0 2.5em 0 0;
}
}
@keyframes load7 {
0%,
80%,
100% {
  box-shadow: 0 2.5em 0 -1.3em;
}
40% {
  box-shadow: 0 2.5em 0 0;
}
}
/* ------------------------------- */



/* Validation Tooltip */
.tooltip li.validationErrors{
color:darkred;
}

.tooltip.p-overlaypanel{
border: 1px solid darkred;
}

.tooltip.p-overlaypanel:before {
border-bottom-color:darkred;
}

.tooltip ol{
padding-left: 10px;
}
.tooltip li{
padding-bottom: 2px;
}
/* ------------------------------- */

.invalidControlBG{
  background-color: rgba(255, 255, 224, 0.671)  ;
}

/* This is for input label positioned on top of control */
.topLabel{
  margin-bottom: 4px;
  display: inline-block;
}

/* Gap between vertical input controls */
.controlVGap{
  display: block;
  margin-top: 10px;
}

.appMonitorParam{
  font-size: large;
}

.appMonitorDesc{
  font-style: italic;
}

/* User inactivity monitor progressbar warning color */
.warningBGColor .p-progressbar .p-progressbar-value {
  background: #ffb560;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


ol.slimList{
  margin: 0;
  padding: 0px;
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol.slimList li {
  counter-increment: my-awesome-counter;
  font-size:13px;
  line-height: 1.6;
}
ol.slimList li::before {
 content: counter(my-awesome-counter) ": ";
 font-weight: bold;
 font-size: 14px;
}


.rowList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rowList li {
  float: left;
  line-height: 1.6;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: #E3F2FD;
  color: #333333;
}

.required{
  font-weight: bold;
}

.bigText{
  word-wrap: break-word;
}

.smallText{
  font-size:12px !important;
}

.nestedData{
  font-size: small;
  color:silver;
}

.partialSearch{
  border-color: black !important;
}

.gridCaption{
  margin-left: 15px;
  font-weight: bold;
}

.primaryColumn{
  background-color: whitesmoke;
}


/* ========== Hide arrows for number input box ========= */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* ================================================== */


/* This is to style key:value nodes in jsoneditor */
.disabled div.jsoneditor-field, .disabled div.jsoneditor-value{
  color:silver;
}

/* Increases the height of select element */
.jsoneditor-tree > select{
  height:25px;
}