<div>
<img (click)="signInWithGoogle()" [style]="{'height':'50px','margin-right':'20px', 'cursor':'pointer'}" src="../../../../assets/images/GoogleSignIn.png"/>
<img (click)="signInWithFacebook()" [style]="{'height':'50px', 'cursor':'pointer'}" src="../../../../assets/images/FacebookSignIn.png"/>
</div>