<div class="workarea" style="text-align: center;">

  <div class="p-component" style="margin: auto 0;">
      <h1>WELCOME</h1>
      <h4>This is your landing page</h4>
  </div>

  <div>
      <button pButton type="button" label="Register" class="p-button-link" [routerLink]="['/register']"></button>
      <button pButton type="button" label="Email Login" class="p-button-link" [routerLink]="['/login']"></button>
      <button pButton type="button" label="Phone OTP Login" class="p-button-link" [routerLink]="['/auth/otp']" [queryParams]="{t:0}"></button>
      <button pButton type="button" label="Email OTP Login" class="p-button-link" [routerLink]="['/auth/otp']" [queryParams]="{t:1}"></button>
  </div>
</div>