<div class="vCenteredWrapper">
  <!-- 'top': '40%' overwrites the default 50% in .tarpBody class to elivate login card a bit -->
  <form [formGroup]="changePasswordForm" #myForm="ngForm" [attr.data-submitted]="myForm.submitted" (ngSubmit)="onSubmit()">
    <p-card header="Change Password" subheader="Please provide your current and new passwords." styleClass="p-card-shadow vCenteredBody"
      [style]="{'width': '35rem', 'margin-bottom': '2em', 'margin':'0 auto', 'display':'flex', 'align-items':'center', 'top': '40%'}">

      <ng-template pTemplate="body">
        <span class="controlVGap">
          <label for="loginid" class="topLabel"><small>Login ID</small></label>
          <input id="loginid" type="text" pInputText formControlName="loginId" class="form-control" 
          [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !changePasswordForm.get('loginId').valid) || (changePasswordForm.get('loginId').touched && !changePasswordForm.get('loginId').valid)}" 
          [style]="{'width':'100%'}" />
        </span>

        <span class="controlVGap">
          <label for="currentPassword" class="topLabel"><small>Current Password</small></label>
          <input id="currentPassword" type="currentPassword" pInputText formControlName="currentPassword" class="form-control" 
            [ngClass]="{'ng-dirty invalidControlBG':(
              myForm.submitted && !changePasswordForm.get('currentPassword').valid) || 
              (changePasswordForm.get('currentPassword').touched && 
              !changePasswordForm.get('currentPassword').valid ||
              !checkPasswordStrength(changePasswordForm.get('currentPassword').value)
              )}" 
            [style]="{'width':'100%'}" aria-describedby="currentPassword-help"/>

            <div class="smallText">
              <ul>
                <li>minimum {{passwordMinLen}} characters.</li>
                <li>Uppercase letter, lowercase letter, number<br />and special character are mandatory.</li>
              </ul>
            </div>
    
          </span>
               
        <span class="controlVGap">
          <label for="newPassword" class="topLabel"><small>New Password</small></label>
          <input id="newPassword" type="newPassword" pInputText formControlName="newPassword" class="form-control" 
            [ngClass]="{'ng-dirty invalidControlBG':(myForm.submitted && !changePasswordForm.get('newPassword').valid) || (changePasswordForm.get('newPassword').touched && !changePasswordForm.get('newPassword').valid)}" 
            [style]="{'width':'100%'}" aria-describedby="newPassword-help"/>
        </span>
      </ng-template>

      <ng-template pTemplate="footer">
        <div style="width: 100%;">
          <div style="float:left">
            <button *ngIf="false" pButton type="button" label="Forgot Password" class="p-button-link"></button>
          </div>
          <div style="float:right">
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
              [style]="{'margin-left': '.5em'}" [routerLink]="['/welcome']"></p-button>

            <p-button type="submit" label="Submit" icon="pi pi-check" 
              [disabled]="(
                submitted || 
                !myForm.valid ||
                !checkPasswordStrength(changePasswordForm.get('currentPassword').value)
                ) && auth.loggedIn" styleClass="p-button-primary"></p-button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </form>
</div>