<p-menubar #adminToolbar styleClass="adminToolbar" [model]="viewModes" (click)="onViewModeClicked($event)">
    <div style="text-align:center;">
        <span style="font-weight: bold;">ID:</span>&nbsp;<span>{{jsonData.id}}</span>
        <span style="font-weight: bold; margin-left:20px;">Group:</span>&nbsp;<span>{{jsonData.lbl}}</span>
        <span style="font-weight: bold; margin-left:20px;">Language:</span>&nbsp;<span style="margin-right:40px">{{jsonData.lng}}</span>
        <p-button label="Submit" (click)="onJSONUpdate();" [disabled]="!isJSONValid" ></p-button>
    </div>

</p-menubar>
<div id="jsoneditor" style="min-width: 400px; min-height: 500px;" 
    [style.height.px]="editorHeight"></div>

<span style="font-size: 12px;float: left;">
    <br/>
    Language Codes:<br/>
    {{getLanguages()}}
</span>

<div style="text-align: right;margin-top: 10px;">
    <p-button label="Submit" (click)="onJSONUpdate();" [disabled]="!isJSONValid" ></p-button>
</div>