<div id="agora_local" style="height: 500px; width: 500px;display: inline-block;" >
</div>

<button (click)="startCall()" pButton label="Start Call" ></button>

<div style="margin-top: 40px;">
    <!-- Current User Name and Phone -->
    <div class="row">
        <div class="col">
            <div
                style="width: 100%;height: 50px;border: 1px solid black;border-radius: 5px;padding:10px;background-color: whitesmoke;">
                {{personName}}, {{personPhone}}  Meeting ID: {{meetingId}}
            </div>
        </div>
    </div>

    <!-- Video Display -->
    <div class="row">
        <div class="col">
            <div id="player"
                style="width: 100%;height: 500px;border: 1px solid black;border-radius: 5px;padding:10px;font-size: 50px;">

                <!-- Show call status message -->
                <div>{{callStatusMessage}}</div>

                <!-- Show accept/reject options when a meeting invitation is received from others -->
                <div *ngIf="(meetingInvitation.clStts == _MEETING_INVITATION.INVITE && meetingInvitation.clrPh !==  personPhone)">
                    <button type="button" pButton class="p-button-success" label="Accept" style="margin:0 auto;" (click)="meetingAction(_MEETING_INVITATION.ACCEPTED)" ></button>
                    <button type="button" pButton class="p-button-danger" label="Reject" style="margin:0 auto;" (click)="meetingAction(_MEETING_INVITATION.REJECTED)"></button>
                </div>

            </div>
        </div>
    </div>

    <!-- Controls -->
    <div class="row">
        <div class="col">
            <div
                style="width: 100%;height: 50px;border: 1px solid black;border-radius: 5px;padding:10px;background-color: whitesmoke;">
                Controls
                <button *ngIf="(meetingInvitation.clStts == _MEETING_INVITATION.ACCEPTED)" type="button" pButton class="p-button-warning" label="Leave Meeting" (click)="meetingAction(_MEETING_INVITATION.LEFT)" style="margin:0 auto;"></button>
                <button *ngIf="(personPhone == meetingInvitation.clrPh && meetingInvitation.clStts == _MEETING_INVITATION.ACCEPTED)" type="button" pButton class="p-button-danger" label="End Meeting" (click)="meetingAction(_MEETING_INVITATION.ENDED)" style="margin:0 auto;"></button>
            </div>
        </div>
    </div>

    <!-- Contacts -->
    <div class="row" style="margin-top: 20px;">
        <div class="col">

            Contacts:
            <p-table [value]="contacts">
                <ng-template pTemplate="header" let-contact>
                    <tr>
                        <!-- Column headings -->
                        <!-- width:100%; makes all the columns equal width -->
                        <th style="width:100%;">Contact Name</th>
                        <th style="width:100%;">Phone</th>
                        <th style="width:100%;">Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contact let-rowIndex="rowIndex">
                    <tr>
                        <td class="bigText">{{contact.name}}</td>
                        <td class="bigText">{{contact.ph}}</td>
                        <td>
                            <button type="button" pButton class="btn btn-primary" label="Invite"
                                (click)="meetingAction(_MEETING_INVITATION.INVITE, contact.ph)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


</div>